/* This is the theme's principal scss stylesheet */

@import 'colors';

/************************
 * GENERAL STYLES
 * 
 * **********************/
body{
    font-family:"Garamond","Times New Roman", serif, sans-serif
}

.standard-wrap{
    max-width: 1500px;
    margin: auto;
    width: 95%;
}

/************************
 * HEADER STYLES
 * LOGO AND NAV MENU
 * **********************/
.sewchic-header-pink{
    border-bottom: 125px solid $headerpink;
}

.sewchic-header-widget-container{
    position: relative;

    .custom-logo{
        max-width: 100%;
        height: auto;
        max-height: 100%;
    }
    
}

.sewchic-navbar-default{
    .navbar-toggle{
        .icon-bar{
            background-color:$navbarToggleBg;
        }
    }
}

.sewchic-navbar-toggle{
    float:none;
    display:block;
    margin: 8px auto;
    background-color:$navbarIconBars;
}

#sewchic-primary-menu{
    font-size:18px;
}


.sewchic-home-main-body{
    background-color: $beige;
}

@media screen and (min-width: 768px){
    .sewchic-header-widget-container{

        .sewchic-header-widget-element{
            position:absolute;
            bottom: 0;    
            right:0;
        }
    }
    .sewchic-navbar-toggle{
        display:none;
    }
}

@media screen and (min-width: 992px){
    #sewchic-primary-menu{
        font-size:28px;
        font-weight:bold;
        li.menu-item{
            margin-right: 10px;
        }
    }

}

@media screen and (min-width: 1200px){

}
