/* This is the theme's principal scss stylesheet */

@import 'colors';
@import 'bootstrap_overrides';

/************************
 * GENERAL STYLES
 * 
 * **********************/
body{
    font-family:"Garamond","Times New Roman", serif, sans-serif;
    font-size:18px;
    font-variant: small-caps;
}

.standard-wrap{
    max-width: 1500px;
    margin: auto;
    width: 95%;
}

.sewchic-all-caps{
}
/************************
 * HEADER STYLES
 * LOGO AND NAV MENU
 * **********************/
.sewchic-header-pink{
    border-bottom: 125px solid $headerpink;
}

.sewchic-header-widget-container{
    position: relative;
    text-align:center;
    .custom-logo{
        max-width: 100%;
        height: auto;
        max-height: 100%;
    }
    h3{text-align:center;}
    
    
}

.sewchic-navbar-default{
    margin-bottom:0;
    .navbar-toggle{
        .icon-bar{
            background-color:$navbarToggleBg;
        }
    }
}

.sewchic-navbar-toggle{
    float:none;
    display:block;
    margin: 8px auto;
    background-color:$navbarIconBars;
}

.sewchic-nav-body{
    background-color: $beige;
}

#sewchic-primary-menu{
    font-size:18px;
}

/*********************
  HOME PAGE STYLES
*********************/
.sewchic-home-body-wrapper{
    background: repeating-linear-gradient(
        to right,
        $headerpink,
        $headerpink 15px,
        $beige 15px,
        $beige 30px
    );
}
.sewchic-home-body-padding{
    background: $beige;
    height:50px;
    margin:0;
    padding:0;
}
.sewchic-home-body{
    padding:20px 0;
}

#sewchic-home-tower-img{
    max-width:100%;
    height:auto;
}

#sewchic-home-search{
    margin: 20px 0;
    input,label,button{
        margin:5px 0;
    }

}



@media screen and (min-width: 768px){
    .sewchic-header-widget-container{
        text-align:left;

        .sewchic-header-widget-element{
            position:absolute;
            bottom: 0;    
            right:0;
        }
        h3{
            max-width:400px;
            margin: 3px 0 0 0;
            padding-bottom:15px;
        }
    }
    .sewchic-navbar-toggle{
        display:none;
    }
    #sewchic-primary-menu{
        padding:0;
        li.menu-item{
            margin-right: 10px;
        }
    }
    .big-text-sm{
        font-size:28px;
        font-weight:bold;
    }

    #sewchic-home-search{
        input,label,button{
            margin: 0 10px;
        }
        label{
            position:relative;
            top:4px;
        }
        input{
            width: 250px;
        }
    }

}

@media screen and (min-width: 992px){
    #sewchic-primary-menu{
        font-size:28px;
        font-weight:bold;
    }

}

@media screen and (min-width: 1200px){
    #sewchic-home-tower-img{
        margin-top: -175px;
        height: 800px;
    }

}
