@charset "UTF-8";
/*this is the colors stylesheet*/
/*generics*/
span.required {
  color: #a00; }

a.button, input.button, input.submit {
  background-color: #efefef;
  background-repeat: repeat-x;
  border-radius: 4px;
  background-image: linear-gradient(to bottom, #efefef 0, #aeaeae 100%) !important;
  /*TODO: resolve the styles without breaking product page and without having to use !important here*/
  border: 1px solid transparent;
  color: black;
  padding: 6px 12px;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  -ms-touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

a.button.alt, input.button.alt, input.submit.alt {
  background-color: #ced0ff;
  background-image: linear-gradient(to bottom, #ced0ff 0, #878ac1 100%) !important;
  color: #515151; }

.input-text, select.orderby {
  width: 100%;
  height: 39px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1em;
  background-color: white;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.75);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }

.input-text {
  max-width: 75px;
  min-width: 50px; }

select.orderby {
  width: 100%;
  height: 39px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1em;
  background-color: white;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.75);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }

span.onsale {
  display: block;
  text-align: center;
  background-color: #de0000;
  color: white;
  font-size: 35px;
  font-weight: bold;
  margin-top: 10px;
  border-radius: 5px; }

.products span.onsale {
  display: initial;
  text-align: initial;
  font-size: initial;
  margin: 0;
  padding: 3px 5px;
  position: absolute;
  opacity: 0.7; }
.products .price {
  font-weight: bold;
  color: #00ae00; }

ul.page-numbers {
  list-style-type: none;
  padding: 0;
  margin: 20px 0; }
  ul.page-numbers li {
    display: inline-block; }
    ul.page-numbers li a, ul.page-numbers li span {
      padding: 10px 13px;
      border: solid 1px #aeaeae;
      background-color: #efefef; }
      ul.page-numbers li a:hover, ul.page-numbers li span:hover {
        background-color: white;
        text-decoration: none; }
    ul.page-numbers li span.current {
      background-color: white; }

/*cart styles*/
form.woocommerce-cart-form td.product-remove a.remove {
  width: 100%;
  font-size: 0;
  padding: 5px 0 33px; }
  form.woocommerce-cart-form td.product-remove a.remove:hover {
    color: red !important;
    background: white; }
  form.woocommerce-cart-form td.product-remove a.remove:before {
    content: attr(aria-label);
    padding: 5px 7px;
    color: white;
    background: red;
    border-radius: 5px;
    font-size: 27px;
    background-image: linear-gradient(to bottom, red 0, #a00 100%); }
form.woocommerce-cart-form .input-text {
  height: initial; }
form.woocommerce-cart-form div.coupon .input-text {
  max-width: initial;
  width: 100% !important;
  min-width: inital;
  margin: 5px 0; }
form.woocommerce-cart-form div.coupon .button {
  width: 100% !important; }

/*breadcrumbs*/
.woocommerce-breadcrumb {
  display: none;
  margin: 10px 0;
  padding: 10px 25px;
  background: #efefef;
  border-radius: 5px; }

/*gallery*/
.woocommerce-product-gallery {
  margin-top: 10px; }
  .woocommerce-product-gallery img {
    max-width: 100% !important;
    height: auto !important;
    max-height: 100%; }
  .woocommerce-product-gallery .flex-viewport {
    width: 100%;
    margin: auto;
    max-width: 300px; }
  .woocommerce-product-gallery ol.flex-control-nav {
    width: 100%;
    margin: auto;
    max-width: 300px;
    list-style-type: none;
    padding: 0;
    text-align: center; }
    .woocommerce-product-gallery ol.flex-control-nav li {
      max-width: 100px;
      display: inline-block;
      padding: 10px; }

.entry-summary .price {
  margin: 10px;
  font-weight: bold;
  font-size: 24px;
  color: #00ae00;
  vertical-align: middle; }

/*variations table*/
table.variations {
  margin: 10px auto; }
  table.variations label {
    color: black;
    font-size: 24px;
    margin: 0;
    vertical-align: middle; }
  table.variations .bs-inline-hack {
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
    display: inline-block;
    width: auto; }

.wcsc-cart-add-form table.group_table {
  width: 95%;
  max-width: 400px;
  margin: 20px auto; }
  .wcsc-cart-add-form table.group_table td {
    padding: 5px;
    white-space: normal; }
  .wcsc-cart-add-form table.group_table td.label {
    display: table-cell;
    vertical-align: middle;
    text-align: left; }
    .wcsc-cart-add-form table.group_table td.label label {
      margin-bottom: 0;
      font-size: 20px; }
.wcsc-cart-add-form .quantity-wrapper {
  padding: 10px;
  border: 2px solid #fbdedd;
  border-radius: 5px;
  max-width: 350px;
  margin: auto;
  width: 90%;
  text-align: center; }
  .wcsc-cart-add-form .quantity-wrapper div, .wcsc-cart-add-form .quantity-wrapper button, .wcsc-cart-add-form .quantity-wrapper input {
    display: inline-block; }

.product_meta {
  margin: 15px 0 10px;
  font-size: 14px; }
  .product_meta, .product_meta a {
    color: #aeaeae;
    font-style: italic; }
  .product_meta a {
    text-decoration: underline; }
  .product_meta:after {
    content: ".";
    visibility: hidden;
    clear: both;
    line-height: 0;
    height: 0;
    display: block; }

.wc-tabs-wrapper {
  clear: both;
  padding-top: 35px; }
  .wc-tabs-wrapper ul.tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-bottom: 18px;
    border-bottom: 10px #aeaeae solid; }
    .wc-tabs-wrapper ul.tabs li {
      display: inline;
      margin: 0 5px; }
      .wc-tabs-wrapper ul.tabs li a {
        padding: 20px 15px;
        background-color: white;
        border: 1px solid #aeaeae;
        color: black;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px; }
      .wc-tabs-wrapper ul.tabs li a:hover {
        text-decoration: none;
        background-color: #aeaeae;
        color: white; }
    .wc-tabs-wrapper ul.tabs li:first-of-type {
      margin: 0 5px 0 0; }
    .wc-tabs-wrapper ul.tabs li.active a {
      background-color: #aeaeae;
      color: white; }

.woocommerce-Tabs-panel {
  box-shadow: 0 1px 1px transparent; }

.woocommerce-Reviews .woocommerce-Reviews-title {
  display: none; }
.woocommerce-Reviews ol.commentlist {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .woocommerce-Reviews ol.commentlist li {
    padding: 10px 0;
    border-bottom: 1px solid #efefef; }
    .woocommerce-Reviews ol.commentlist li:last-of-type {
      border: none; }
    .woocommerce-Reviews ol.commentlist li img {
      float: left;
      margin: 0 13px 10px 0; }
    .woocommerce-Reviews ol.commentlist li p {
      margin: 0; }
    .woocommerce-Reviews ol.commentlist li .sewchic-wc-star-rating {
      color: #878ac1; }
.woocommerce-Reviews .comment-reply-title {
  font-weight: bold;
  font-size: 24px; }
.woocommerce-Reviews .comment-form-rating .stars a {
  position: relative;
  font-size: 25px;
  visibility: hidden;
  width: 1em;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block; }
  .woocommerce-Reviews .comment-form-rating .stars a:before {
    position: absolute;
    visibility: visible;
    display: inline-block;
    content: "☆";
    color: #878ac1;
    z-index: 2; }
  .woocommerce-Reviews .comment-form-rating .stars a.clicked:before {
    content: "★"; }
  .woocommerce-Reviews .comment-form-rating .stars a.active.clicked ~ a:before {
    visibility: hidden; }
  .woocommerce-Reviews .comment-form-rating .stars a.active.clicked ~ a:after {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    visibility: visible;
    content: "☆";
    z-index: 5; }
.woocommerce-Reviews .comment-respond label {
  display: block; }
.woocommerce-Reviews .comment-respond input, .woocommerce-Reviews .comment-respond textarea {
  max-width: 400px;
  font-size: 16px; }
.woocommerce-Reviews .comment-respond input {
  height: 36px; }

.related.products ul.products, .upsells.products ul.products {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .related.products ul.products li, .upsells.products ul.products li {
    display: block;
    padding: 15px 0; }
    .related.products ul.products li img, .upsells.products ul.products li img {
      max-width: 100px;
      width: 100%;
      height: auto;
      float: left;
      margin: 0 10px 7px 0; }
    .related.products ul.products li h1, .related.products ul.products li h2, .related.products ul.products li h3, .upsells.products ul.products li h1, .upsells.products ul.products li h2, .upsells.products ul.products li h3 {
      margin: 0 0 10px; }
    .related.products ul.products li:after, .upsells.products ul.products li:after {
      content: '.';
      display: block;
      height: 0;
      visibility: hidden;
      clear: both; }

@media screen and (min-width: 768px) {
  .woocommerce-breadcrumb {
    display: block; }

  table.variations {
    margin: 10px 0; }

  .input-text {
    max-width: 100px; }

  form.woocommerce-cart-form td.product-remove a.remove {
    width: 1em;
    padding: 0;
    margin: auto;
    font-size: 27px; }
    form.woocommerce-cart-form td.product-remove a.remove:hover {
      color: white !important;
      background: red; }
    form.woocommerce-cart-form td.product-remove a.remove:before {
      content: none; }
  form.woocommerce-cart-form div.coupon .input-text {
    max-width: 195px;
    margin: 0 5px; }
  form.woocommerce-cart-form div.coupon .button {
    width: auto !important; }

  .wcsc-cart-add-form {
    margin: 20px 0; }
    .wcsc-cart-add-form table.group_table {
      max-width: initial;
      margin: 20px 0; }
    .wcsc-cart-add-form .quantity-wrapper {
      max-width: initial;
      margin: initial;
      width: initial;
      text-align: left;
      display: inline;
      padding: 15px 12px 17px; }

  .related.products, .upsells.products {
    display: table;
    width: 100%; }
    .related.products ul.products, .upsells.products ul.products {
      display: table-row; }
      .related.products ul.products li, .upsells.products ul.products li {
        padding: 0 10px;
        display: table-cell;
        width: 25%;
        text-align: center; }
        .related.products ul.products li img, .upsells.products ul.products li img {
          max-width: 200px;
          float: none;
          margin: 0 0 10px 0; }
        .related.products ul.products li .button, .upsells.products ul.products li .button {
          display: table;
          margin: 10px auto 0; } }
@media screen and (min-width: 992px) {
  .woocommerce-product-gallery {
    float: left;
    margin: 0 25px 25px 0; } }
@media screen and (min-width: 1200px) {
  .wcsc-cart-add-form table.group_table {
    max-width: 570px; }

  .woocommerce-product-gallery .flex-viewport, .woocommerce-product-gallery ol.flex-control-nav {
    max-width: 500px; } }
/*shop page*/
.woocommerce-products-header, .woocommerce-result-count {
  text-align: center; }

.woocommerce-products-header {
  margin: 20px 0 10px; }

.wcsc-shop-loop ul.products {
  list-style-type: none;
  padding: 0;
  margin: 30px 0; }
  .wcsc-shop-loop ul.products li {
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #efefef; }
    .wcsc-shop-loop ul.products li h2 {
      margin: 5px 0; }
    .wcsc-shop-loop ul.products li a {
      display: block;
      margin: 5px 0; }
    .wcsc-shop-loop ul.products li img {
      width: 100%;
      height: auto;
      max-height: 100%; }
    .wcsc-shop-loop ul.products li:last-of-type {
      margin-bottom: 0;
      border-bottom: none; }

@media screen and (min-width: 768px) {
  .woocommerce-products-header, .woocommerce-result-count {
    text-align: initial; }

  .wcsc-shop-loop .orderby {
    max-width: 200px; }
  .wcsc-shop-loop ul.products {
    margin: 10px -10px; }
    .wcsc-shop-loop ul.products li {
      display: inline-block;
      width: 45%;
      max-width: 496px;
      margin: 0 2%;
      border: none; }
      .wcsc-shop-loop ul.products li a {
        position: relative; }
      .wcsc-shop-loop ul.products li h2 {
        position: absolute;
        bottom: 35px;
        right: 10px;
        padding: 5px;
        background: white;
        opacity: 0.7;
        font-size: 18px;
        margin: 0;
        text-align: right;
        max-width: 260px; } }
@media screen and (min-width: 992px) {
  .wcsc-shop-loop ul.products li {
    width: 30.9%;
    margin: 0 1%;
    max-width: 340px; } }
@media screen and (min-width: 1200px) {
  .wcsc-shop-loop ul.products li {
    width: 22.6%;
    margin: 0 1%;
    max-width: initial; } }

/*# sourceMappingURL=woocommerce.css.map */
