@charset "UTF-8";
/*this is the colors stylesheet*/
/*generics*/
span.required {
  color: #a00; }

.button, input.submit {
  background-color: #efefef;
  background-repeat: repeat-x;
  border-radius: 4px;
  background-image: linear-gradient(to bottom, #efefef 0, #aeaeae 100%);
  border: 1px solid transparent;
  color: black;
  padding: 6px 12px;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  -ms-touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

/*breadcrumbs*/
.woocommerce-breadcrumb {
  display: none;
  margin: 10px 0;
  padding: 10px 25px;
  background: #efefef;
  border-radius: 5px; }

span.onsale {
  display: block;
  text-align: center;
  background-color: #de0000;
  color: white;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 10px;
  border-radius: 5px; }

.woocommerce-product-gallery img {
  max-width: 100% !important;
  height: auto !important;
  max-height: 100%; }
.woocommerce-product-gallery .flex-viewport {
  width: 100%;
  margin: auto;
  max-width: 500px; }
.woocommerce-product-gallery ol.flex-control-nav {
  width: 100%;
  margin: auto;
  max-width: 500px;
  list-style-type: none;
  padding: 0;
  text-align: center; }
  .woocommerce-product-gallery ol.flex-control-nav li {
    max-width: 100px;
    display: inline-block;
    padding: 10px; }

.entry-summary .price {
  margin: 10px;
  font-weight: bold;
  font-size: 24px;
  color: #00ae00;
  vertical-align: middle; }

/*variations table*/
table.variations {
  margin: 10px auto; }
  table.variations label {
    color: black;
    font-size: 24px;
    margin: 0;
    vertical-align: middle; }
  table.variations .bs-inline-hack {
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
    display: inline-block;
    width: auto; }

.wcsc-cart-add-form .quantity-wrapper {
  padding: 10px;
  border: 2px solid #fbdedd;
  border-radius: 5px;
  max-width: 350px;
  margin: auto;
  width: 90%;
  text-align: center; }
  .wcsc-cart-add-form .quantity-wrapper div, .wcsc-cart-add-form .quantity-wrapper button, .wcsc-cart-add-form .quantity-wrapper input {
    display: inline-block; }
.wcsc-cart-add-form .input-text {
  width: 100%;
  max-width: 75px;
  height: 39px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1em;
  background-color: white;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.75);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }

.product_meta {
  margin: 15px 0 10px;
  font-size: 14px; }
  .product_meta, .product_meta a {
    color: #aeaeae;
    font-style: italic; }
  .product_meta a {
    text-decoration: underline; }
  .product_meta::after {
    content: ".";
    visibility: hidden;
    clear: both;
    line-height: 0;
    height: 0;
    display: block; }

.wc-tabs-wrapper {
  clear: both;
  padding-top: 35px; }
  .wc-tabs-wrapper ul.tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-bottom: 18px;
    border-bottom: 10px #aeaeae solid; }
    .wc-tabs-wrapper ul.tabs li {
      display: inline;
      margin: 0 5px; }
      .wc-tabs-wrapper ul.tabs li a {
        padding: 20px 15px;
        background-color: white;
        border: 1px solid #aeaeae;
        color: black;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px; }
      .wc-tabs-wrapper ul.tabs li a:hover {
        text-decoration: none;
        background-color: #aeaeae;
        color: white; }
    .wc-tabs-wrapper ul.tabs li:first-of-type {
      margin: 0 5px 0 0; }
    .wc-tabs-wrapper ul.tabs li.active a {
      background-color: #aeaeae;
      color: white; }

.woocommerce-Tabs-panel {
  box-shadow: 0 1px 1px transparent; }

.woocommerce-Reviews .woocommerce-Reviews-title {
  display: none; }
.woocommerce-Reviews ol.commentlist {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .woocommerce-Reviews ol.commentlist li {
    padding: 10px 0;
    border-bottom: 1px solid #efefef; }
    .woocommerce-Reviews ol.commentlist li:last-of-type {
      border: none; }
    .woocommerce-Reviews ol.commentlist li img {
      float: left;
      margin: 0 13px 10px 0; }
    .woocommerce-Reviews ol.commentlist li p {
      margin: 0; }
    .woocommerce-Reviews ol.commentlist li .sewchic-wc-star-rating {
      color: #878ac1; }
.woocommerce-Reviews .comment-reply-title {
  font-weight: bold;
  font-size: 24px; }
.woocommerce-Reviews .comment-form-rating .stars a {
  position: relative;
  font-size: 25px;
  visibility: hidden;
  width: 1em;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block; }
  .woocommerce-Reviews .comment-form-rating .stars a:before {
    position: absolute;
    visibility: visible;
    display: inline-block;
    content: "☆";
    color: #878ac1;
    z-index: 2; }
  .woocommerce-Reviews .comment-form-rating .stars a.clicked:before {
    content: "★"; }
  .woocommerce-Reviews .comment-form-rating .stars a.active.clicked ~ a:before {
    visibility: hidden; }
  .woocommerce-Reviews .comment-form-rating .stars a.active.clicked ~ a:after {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    visibility: visible;
    content: "☆";
    z-index: 5; }
.woocommerce-Reviews .sewchic-comment-form-content label {
  display: block; }
.woocommerce-Reviews .sewchic-comment-form-content input, .woocommerce-Reviews .sewchic-comment-form-content textarea {
  max-width: 400px;
  font-size: 16px; }
.woocommerce-Reviews .sewchic-comment-form-content input {
  height: 36px; }

.related.products ul.products, .upsells.products ul.products {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .related.products ul.products li, .upsells.products ul.products li {
    display: block;
    padding: 15px 0; }
    .related.products ul.products li img, .upsells.products ul.products li img {
      max-width: 100px;
      width: 100%;
      height: auto;
      float: left;
      margin: 0 10px 7px 0; }
    .related.products ul.products li h1, .related.products ul.products li h2, .related.products ul.products li h3, .upsells.products ul.products li h1, .upsells.products ul.products li h2, .upsells.products ul.products li h3 {
      margin: 0 0 10px; }
    .related.products ul.products li:after, .upsells.products ul.products li:after {
      content: '.';
      display: block;
      height: 0;
      visibility: hidden;
      clear: both; }
.related.products span.onsale, .upsells.products span.onsale {
  display: initial;
  text-align: inital;
  font-size: initial;
  margin: 0;
  padding: 3px 5px;
  position: absolute;
  opacity: 0.7; }
.related.products .price, .upsells.products .price {
  font-weight: bold;
  color: #00ae00; }

/*product page*/
@media screen and (min-width: 768px) {
  .woocommerce-breadcrumb {
    display: block; }

  table.variations {
    margin: 10px 0; }

  .wcsc-cart-add-form {
    margin: 20px 0; }
    .wcsc-cart-add-form .quantity-wrapper {
      max-width: initial;
      margin: initial;
      width: initial;
      text-align: left;
      display: inline;
      padding: 15px 12px 17px; }
    .wcsc-cart-add-form .input-text {
      max-width: 400px; }

  .related.products, .upsells.products {
    display: table;
    width: 100%; }
    .related.products ul.products, .upsells.products ul.products {
      display: table-row; }
      .related.products ul.products li, .upsells.products ul.products li {
        padding: 0 10px;
        display: table-cell;
        width: 25%;
        text-align: center; }
        .related.products ul.products li img, .upsells.products ul.products li img {
          max-width: 200px;
          float: none;
          margin: 0 0 10px 0; }
        .related.products ul.products li .button, .upsells.products ul.products li .button {
          display: table;
          margin: 10px auto 0; } }
@media screen and (min-width: 992px) {
  .woocommerce-product-gallery {
    float: left;
    margin: 0 25px 25px 0; } }

/*# sourceMappingURL=woocommerce.css.map */
