/* This is the theme's principal scss stylesheet */

@import 'colors';
@import 'bootstrap_overrides';

/************************
 * GENERAL STYLES
 * 
 * **********************/
body{
    font-family:"Garamond","Times New Roman", serif, sans-serif;
    font-size:18px;
    font-variant: small-caps;
}

.standard-wrap{
    max-width: 1500px;
}

.tight-wrap{
    max-width: 992px;
}

.wrap{
    margin:auto;
    width:95%;
}

.sewchic-all-caps{
}
/************************
 * HEADER STYLES
 * LOGO AND NAV MENU
 * **********************/
.sewchic-header-pink{
    background-color: $headerpink;
}

.sewchic-header-widget-container{
    position: relative;
    text-align:center;
    .custom-logo{
        max-width: 100%;
        height: auto;
        max-height: 100%;
    }
    h3{text-align:center;}
    
    
}

.sewchic-navbar-default{
    a{color:$black;}
    margin-bottom:0;
    .navbar-toggle{
        .icon-bar{
            background-color:$navbarToggleBg;
        }
    }
}
#sewchic-primary-menu{
    .sub-menu{
        list-style-type:none;
        li.menu-item{
            padding: 10px;
            line-height:20px;
        }
        li.menu-item:hover{
            a{
                text-decoration:none;
            }
            background: #eee;
        }
    }
}

.sewchic-navbar-toggle{
    float:none;
    display:block;
    margin: 8px auto;
    background-color:$navbarIconBars;
}

#sewchic-primary-menu{
    font-size:18px;
}

/*********************
  HOME PAGE STYLES
*********************/
.sewchic-home-body-wrapper{
    background: repeating-linear-gradient(
        to right,
        $headerpink,
        $headerpink 15px,
        $beige 15px,
        $beige 30px
    );
    border-bottom:50px solid $headerpink;
}
.sewchic-home-body-padding{
    background: $beige;
    height:50px;
    margin:0;
    padding:0;
}
.sewchic-home-body{
    padding:20px 0;
}

#sewchic-carousel-height-block{
    height: 600px;
}

.sewchic-carousel-outer-wrapper{
    width:100%;
    padding:50px;
    position:absolute;
    top:50%;
    transform: translateY(-50%);
}

.sewchic-carousel-item{
    text-align:center;
    img{
        margin:auto;
    }
}

#sewchic-home-tower-img{
    max-width:100%;
    height:auto;
}

#sewchic-home-search{
    margin: 20px 0;
    input,label,button{
        margin:5px 0;
    }

}

.sewchic-home-menu-title{
    text-decoration:underline;
    font-weight:bold;
}

.sewchic-menu{
    font-size:24px;
    a{color:$black}
}

.sewchic-copyright{
    text-align:center;
    font-size:14px;
    font-variant:normal;
    color:$light-grey;
    a{
        color:$light-grey;
    }
}


@media screen and (min-width: 768px){
    .sewchic-header-widget-container{
        h3{
            margin: 3px auto;
        }
    }

    .sewchic-navbar-toggle{
        display:none;
    }



    #sewchic-primary-menu{
        padding:0;
        li.menu-item{
            margin-right: 10px;
            position:relative;
        }
        li.menu-item ul.sub-menu{
            position:absolute;
            left: -99999px;
        }
        li.menu-item:hover a{
            text-decoration:none;
        }
        li.menu-item:hover ul.sub-menu{
            left:0px;
            background:$headerpink;
            margin:-5px 0 0 0;
            padding:10px;
            z-index:10;
        }

    }
    .big-text-sm{
        font-size:28px;
        font-weight:bold;
    }

    #sewchic-home-search{
        input,label,button{
            margin: 0 10px;
        }
        label{
            position:relative;
            top:4px;
        }
        input{
            width: 250px;
        }
    }

}

@media screen and (min-width: 992px){
    #sewchic-primary-menu{
        font-size:28px;
        font-weight:bold;
    }
    
    .sewchic-header-widget-container{
        text-align:left;

        .sewchic-header-widget-element{
            position:absolute;
            bottom: 0;    
            right:0;
        }
        h3{
            margin: 3px 0 0 0;
            padding-bottom:15px;
        }
    }

}

@media screen and (min-width: 1200px){

    #sewchic-carousel-height-block{
        height: 725px;
    }

    #sewchic-home-tower-img{
        margin-top: -75px;
        height: 800px;
    }

}
