/*This stylesheet is for single content*/

@import 'colors';

/*HEADER*/
figcaption{
    background-color: $lighter-grey;
    font-style:italic;
    font-size:16px;
    padding:5px;
}

figure.sewchic-single-featured-image{
    margin:10px 0 20px;
    img{
        width: 100%;
        height: auto;
        max-height:100%;
    }
    figcaption {
        text-align:right;
    }
}

/*CONTENT*/

@media screen and (min-width:768px){
    figure.alignleft {float:left; margin: 0 1em 1em 0;}
    figure.alignright {
        float:right; 
        margin:0 0 1em 1em;
        figcaption{
            text-align:right;
        }
    }
    figure.aligncenter {
        display: block; 
        margin-left: auto; 
        margin-right: auto;
        figcaption{
            text-align:center;
        }
    }
    img.alignright {float:right; margin:0 0 1em 1em}
    img.alignleft {float:left; margin:0 1em 1em 0}
    img.aligncenter {display: block; margin-left: auto; margin-right: auto}
    a img.alignright {float:right; margin:0 0 1em 1em}
    a img.alignleft {float:left; margin:0 1em 1em 0}
    a img.aligncenter {display: block; margin-left: auto; margin-right: auto}
}




/***********************
* POSTS
***********************/
.sewchic-single:after{
    //clearfix on the article content
    clear:both;
    content:' ';
    display:block;
    font-size:0;
    height:0;
    visibility:hidden;
}

.sewchic-single-meta{
    font-size: 16px;
    span.separate + span.separate{
        margin-left:7px;
        &:before{
            content: '|';
            margin-right: 7px;
            font-size:20px;
        }
    }
    .sewchic-single-meta-links{
        &, & a{
            color: $light-grey;
        }
    }
}

.sewchic-single-content{
    img, figure{
        width: 100%;
        height: auto;
        max-height:100%;
    }
}



@media screen and (min-width: 768px){
    .sewchic-single-meta{
        font-size:inherit;
    }
    
    .sewchic-single-content{
        img, figure{
            width:auto;
            max-width:100%;
        }
        ul, ol{
            width:auto;
            overflow:hidden;
            padding-left:25px;
        }
    }
}

@media screen and (max-width:768px){
    .sewchic-single-meta-links{
        span.separate{
            display:block;
            & + span.separate{
                margin-top:7px;
                margin-left:0;
                &:before{
                    content:none;
                    margin:0;
                }
            }
        }
    }
    
    .sewchic-single-content{
        figure{
            max-width:initial !important;
        }
    }
}

/***********************
* COMMENTS
***********************/
#sewchic_comments_area{
    margin-top:20px;
    padding-bottom: 20px;
    border-top:1px solid $light-grey;
    border-bottom:1px solid $light-grey;

    .sewchic-comments-title{
        margin: 20px 0;
    }

    .sewchic-comment{
        margin: 20px 0;
        .sewchic-comment-author-avatar{
            float:left;
            margin: 8px 7px 2px 0;
        }

        .sewchic-comment-time-posted{
            color:$light-grey;
        }

        .sewchic-comment-actions a{
            display:block;
        }
    }

    .comment-respond{
        textarea#sewchic_comment_respond{
            height:80px;
        }

        .sewchic-comment-respond-section{
            margin:20px 0;
            input, textarea{
                display:block;
            }
        }
        .sewchic-comment-submit{
            display:block;
            width:100%;
        }
    }
}

@media screen and (min-width:768px){
    #sewchic_comments_area{
        .sewchic-comment{
            .sewchic-comment-child{
                margin-left:30px;
            }
            .sewchic-comment-actions a {
                display: initial;
            }
        }

        .comment-respond{
            .sewchic-comment-respond-section{
                input, textarea{
                    max-width:700px;
                }
            }
            .sewchic-comment-submit{
                width:auto;
            }
        }
    }
}

