/*This stylesheet is for single content*/

@import 'colors';

/*HEADER*/
figure.single-featured-image{
    margin:10px 0 20px;
    img{
        width: 100%;
        height: auto;
        max-height:100%;
    }
    figcaption{
        background-color: $lighter-grey;
        font-style:italic;
        font-size:16px;
        padding:5px;
        text-align:right;
    }
}

/*CONTENT*/
img.alignright {float:right; margin:0 0 1em 1em}
img.alignleft {float:left; margin:0 1em 1em 0}
img.aligncenter {display: block; margin-left: auto; margin-right: auto}
a img.alignright {float:right; margin:0 0 1em 1em}
a img.alignleft {float:left; margin:0 1em 1em 0}
a img.aligncenter {display: block; margin-left: auto; margin-right: auto}

.content{
}

/***********************
* PAGES
***********************/

