
@import 'colors';

/*generics*/
span.required{
    color:$requiredRed; 
}

a.button, input.button, input.submit{
    background-color: $lighter-grey;
    background-repeat: repeat-x;
    border-radius:4px;
    background-image: linear-gradient(to bottom, $lighter-grey 0, $light-grey 100%) !important; /*TODO: resolve the styles without breaking product page and without having to use !important here*/
    border: 1px solid transparent;
    color:black;
    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    -ms-touch-action: manipulation;
    cursor:pointer;
    user-select:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
}
a.button.alt, input.button.alt, input.submit.alt {
    background-color:$addToCartBlue;
    background-image:linear-gradient(to bottom, $addToCartBlue 0, $addToCartBlue2 100%) !important;
    color:$woobutton-font-color;
}

.input-text{
    width:100%;
    max-width:75px;
    min-width:50px;
    height:39px;
    padding:6px 12px;
    font-size:16px;
    line-height:1em;
    background-color:white;
    background-image:none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.75);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.75);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

span.onsale{
    display:block;
    text-align:center;
    background-color:$saleRed;
    color:white;
    font-size:35px;
    font-weight:bold;
    margin-bottom:10px;
    border-radius: 5px;
}

/*cart styles*/
form.woocommerce-cart-form{
    td.product-remove{
        a.remove{
            width:100%;
            font-size:0;
            padding: 5px 0 33px;
            &:hover{
                color:red !important;
                background:white;
            }
            &:before{
                content:attr(aria-label);
                padding:5px 7px;
                color:white;
                background:red;
                border-radius:5px;
                font-size:27px;
                background-image:linear-gradient(to bottom, red 0, $requiredRed 100% );
            } 
        }
    }
    
    .input-text{
        height:initial;
    }
    div.coupon{
        .input-text{
            max-width:initial;
            width:100% !important;
            min-width:inital;
            margin:5px 0;
        }
        .button{
            width:100% !important;
        }
    }
}



/*breadcrumbs*/
.woocommerce-breadcrumb{
    display:none;
    margin: 10px 0;
    padding: 10px 25px;
    background: $lighter-grey;
    border-radius: 5px;
}

$viewportWidth:500px;
$full-star:'\2605';
$empty-star:'\2606';

/*gallery*/
.woocommerce-product-gallery{
    img{
        max-width:100% !important;
        height:auto !important;
        max-height: 100%;
    }
    .flex-viewport{
        width:100%;
        margin:auto;
        max-width:$viewportWidth;

    }
    ol.flex-control-nav{
        width:100%;
        margin:auto;
        max-width:$viewportWidth;
        list-style-type:none;
        padding:0;
        text-align:center;
        li{
            max-width:100px;
            display:inline-block;
            padding: 10px;
        }
    }
}

.entry-summary{
    .price{
        margin:10px;
        font-weight:bold;
        font-size:24px;
        color:$priceGreen;
        vertical-align:middle;
    }
}

/*variations table*/
table.variations{
    margin:10px auto;
    label{
        color:black;
        font-size:24px;
        margin:0;
        vertical-align:middle;
    }
    
    .bs-inline-hack{
        margin-top:0;
        margin-bottom:0;
        vertical-align:middle;
        display:inline-block;
        width:auto;
    }

}

.wcsc-cart-add-form{

    table.group_table{
        width:95%;
        max-width:400px;
        margin: 20px auto;
        td{
            padding:5px;
            white-space:normal;
        }
        td.label{
            display:table-cell;
            vertical-align:middle;
            text-align:left;
            label{
                margin-bottom:0;
                font-size:20px;
            }
        }
    }

    .quantity-wrapper{
        padding:10px;
        border: 2px solid $headerpink;
        border-radius: 5px;
        max-width:350px;
        margin:auto;
        width:90%;
        text-align:center;
        div, button, input{
            display:inline-block;
        }
    }



}

.product_meta{
    margin: 15px 0 10px;
    font-size: 14px;
    &,a{
        color:$light-grey;
        font-style:italic;
    }
    a{
        text-decoration:underline;
    }
    &:after{
        content:".";
        visibility:hidden;
        clear:both;
        line-height:0;
        height:0;
        display:block;
    }
}

.wc-tabs-wrapper{
    clear:both;
    padding-top:35px;
    ul.tabs{
        list-style-type:none;
        margin:0;
        padding:0;
        padding-bottom:18px;
        border-bottom:10px $light-grey solid;

     
        li{
            display:inline;
            margin:0 5px;
            a{
                padding:20px 15px;
                background-color:white;
                border:1px solid $light-grey;
                color:black;
                border-top-left-radius:5px;
                border-top-right-radius:5px;
            }
            a:hover{
                text-decoration:none;
                background-color:$light-grey;
                color:white;
            }
        }
        li:first-of-type{
            margin:0 5px 0 0;
        }
        li.active{
            a {
                background-color: $light-grey;
                color:white;
            }
        }
    }
}

.woocommerce-Tabs-panel{
    box-shadow: 0 1px 1px rgba(0,0,0,0);
}

.woocommerce-Reviews{
    .woocommerce-Reviews-title{
        display:none;
    }
    ol.commentlist{
        list-style-type:none;
        margin:0;
        padding:0;
        li{
            padding:10px 0;
            border-bottom: 1px solid $lighter-grey;
            &:last-of-type{
                border:none;
            }
            img{
                float:left;
                margin: 0 13px 10px 0;
            }
            p{
                margin:0;
            }
            .sewchic-wc-star-rating{
                color:$addToCartBlue2;
            }
        }
    
    }
    .comment-reply-title{
        font-weight:bold;
        font-size:24px;
    }
    .comment-form-rating{
        .stars{
            a{
                position:relative;
                font-size:25px;
                visibility:hidden;
                width:1em;
                white-space: nowrap;
                cursor: pointer;
                display:inline-block;
                &:before{
                    position:absolute;
                    visibility:visible;
                    display: inline-block;
                    content: $empty-star;
                    color: $addToCartBlue2;
                    z-index:2; 
                }
                &.clicked:before{
                    content: $full-star
                }
                &.active.clicked ~ a:before{
                    visibility:hidden;
                }
                &.active.clicked ~ a:after{ 
                    position:absolute;
                    top:0;
                    left:0;
                    display:inline-block;
                    visibility:visible;
                    content:$empty-star;
                    z-index:5;
                }
            }
        }
    }
    .sewchic-comment-form-content{
        label{
            display:block;
        }
        input, textarea{
            max-width:400px;
            font-size:16px;
        }
        input{
            height:36px;
        }
    }


}

.related.products, .upsells.products{
    ul.products{
        list-style-type:none;
        margin:0;
        padding:0;
        li{
            display:block;
            padding: 15px 0;
            img{
                max-width:100px;
                width:100%;
                height:auto;
                float:left;
                margin: 0 10px 7px 0;
            }
            h1,h2,h3{
                margin:0 0 10px;
            }
            &:after{
                content:'.';
                display:block;
                height:0;
                visibility:hidden;
                clear:both;
            }
        }
    }
    span.onsale{
        display:initial;
        text-align:inital;
        font-size:initial;
        margin:0;
        padding:3px 5px;
        position:absolute;
        opacity:0.7;
    }
    .price{
        font-weight:bold;
        color:$priceGreen;
    }
}

/*product page*/

@media screen and (min-width: 768px){
    .woocommerce-breadcrumb{
        display:block;
    }
    table.variations{
        margin:10px 0;
    }
    .input-text{
        max-width:100px;
    }
    form.woocommerce-cart-form{
        td.product-remove{
            a.remove{
                width:1em;
                padding:0;
                margin:auto;
                font-size:27px;
                &:hover{
                    color:white !important;
                    background:red;
                }
                &:before{
                    content:none;
                }
            }
        }
        div.coupon{
            .input-text{
                max-width:195px;
                margin: 0 5px;
            }
            .button{
                width:auto !important;
            }

        }
    }
    .wcsc-cart-add-form{
        margin:20px 0;
        table.group_table{
            margin:20px 0;
        }
        .quantity-wrapper{
            max-width:initial;
            margin:initial;
            width:initial;
            text-align:left;
            display:inline;
            padding: 15px 12px 17px;
        }
    }
    .related.products, .upsells.products{
        display:table;
        width:100%;
        ul.products{
            display:table-row;
            li{
                padding: 0 10px;
                display:table-cell;
                width:25%;
                text-align:center;
                img{
                    max-width:200px;
                    float:none;
                    margin: 0 0 10px 0;                
                }
                .button{
                    display:table;
                    margin:10px auto 0;
                }
            }
        }
    }
}

@media screen and (min-width: 992px){
    .woocommerce-product-gallery{
        float:left;
        margin: 0 25px 25px 0;
    }
}

@media screen and (min-width:1200px){
    .wcsc-cart-add-form{
        table.group_table{
            max-width:600px;
        }
    }
}
