/*this is the colors stylesheet*/

$headerpink : #fbdedd;
$beige : #fbfae7;
$black : #222;
$light-grey: #aeaeae;
$lighter-grey: #efefef;
$light-purple: #fff2ff;
$navbarIconBars: #bbb;
$navbarToggleBg: #ddd;
$saleRed:#de0000;
$requiredRed:#a00;
$priceGreen:#00ae00;
$addToCartBlue: #ced0ff;
$addToCartBlue2: #878ac1;
$woobutton-font-color: #515151;

