/*****************
 * FOOTER STYLES
 * **************/

.sewchic-footer-wrapper{
    background-color:$beige;
    padding: 15px 0;
    margin-top: 15px;
    width:100%;
    box-sizing:border-box;
}

.sewchic-footer-menu-container,
.sewchic-footer-menu-title{
    text-align:center;
}

.sewchic-footer-menu-title{
    text-decoration:underline;
    font-weight:bold;
    margin-bottom:5px;
}

.sewchic-footer-menu{
    list-style-type:none;
    padding:0;
    margin-top:0;
}

@media screen and (min-width:768px){
    .sewchic-footer-menu-container,
    .sewchic-footer-menu-title{
        text-align:left;
    }
    

}
