/* This is the theme's principal scss stylesheet */

@import 'colors';
@import 'bootstrap_overrides';
@import 'facebook-plugin';
/************************
 * GENERAL STYLES
 * 
 * **********************/
body{
    font-family:"Trebuchet MS","Garamond","Times New Roman", serif, sans-serif;
    font-size:18px;
    font-variant: small-caps;
}

.standard-wrap{
    max-width: 1500px;
}

.tight-wrap{
    max-width: 992px;
}

.wrap{
    margin:auto;
    width:95%;
}


/************************
 * HEADER STYLES
 * LOGO AND NAV MENU
 * **********************/


.sewchic-header-pink{
    background-color: $headerpink;
}

.sewchic-account-links{
    width:100%;
    text-align:center;
    padding:10px 0;
    z-index:10;
    a{
        color:$black;
    }
    span{
    }
}

.sewchic-header-widget-container{
    position: relative;
    text-align:center;
    .custom-logo{
        max-width: 100%;
        height: auto;
        max-height: 100%;
    }
    h3{text-align:center;}
    
}

.sewchic-navbar-default{
    a{color:$black;}
    margin-bottom:0;
    .navbar-toggle{
        .icon-bar{
            background-color:$navbarToggleBg;
        }
    }
}
#sewchic-primary-menu{
    .sub-menu{
        list-style-type:none;
        li.menu-item{
            padding: 10px;
            line-height:20px;
        }
        li.menu-item:hover{
            a{
                text-decoration:none;
            }
            background: #eee;
        }
    }
}

.sewchic-navbar-toggle{
    float:none;
    display:block;
    margin: 8px auto;
    background-color:$navbarIconBars;
}

#sewchic-primary-menu{
    font-size:18px;
}

@media screen and (min-width:992px){
    .sewchic-account-links{
        max-width:250px;
        text-align:right;
        position:absolute;
        top:0;
        right:0;
    }
}

/*********************
  HOME PAGE STYLES
*********************/
.sewchic-home-hero-wrapper{
    background: repeating-linear-gradient(
        to right,
        $headerpink,
        $headerpink 15px,
        $beige 15px,
        $beige 30px
    );
    border-bottom:50px solid $headerpink;
}
.sewchic-hero-body{
    padding:20px 0;
}

#sewchic-carousel-height-block{
    height: 600px;
    position:relative;
}

.sewchic-carousel-outer-wrapper{
    width:100%;
    padding:30px;
    position:absolute;
    top:50%;
    transform: translateY(-50%);
}

.sewchic-carousel-item{
    text-align:center;
    img{
        margin:auto;
    }
}

.sewchic-table{
    display:table;
    width:100%;
}

.sewchic-row{
    display:table-row;
}

.sewchic-cell{
    display:table-cell;
}

#sewchic-home-tower-container{
    display:none;
}

#sewchic-home-tower-img{
    max-width:100%;
    height:auto;
}

#sewchic-home-search{
    margin: 20px 0;
    input,label,button{
        margin:5px 0;
    }

}

.sewchic-home-menu-title{
    text-decoration:underline;
    font-weight:bold;
}

.sewchic-menu{
    font-size:24px;
    a{color:$black}
}

.sewchic-home-post-container{
    h1, h2, h3, h4, h5, h6{
        margin-top:30px;
    }
}

.sewchic-home-post{
    display:block;
    background-color: $light-purple;
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
    background-origin:border-box;
    opacity:1;
    transition:opacity .5s;
    -webkit-transition:opacity .5s;

    text-align:right;
    position:relative;
    &.sewchic-home-post-large{
        height:500px;    
    }
    &.sewchic-home-post-small{
        height:242px;
        margin-top:16px;
    }
    &:hover{
        opacity:0.5;
        filter: alpha(opacity=50);
    }
    .sewchic-home-post-title{
        border:white solid 1px;
        background-color:rgba(255,255,255,0.75);
        padding:10px 15px;
        position:absolute;
        bottom: 10px;
        right:10px;
        max-width:89%;
    }

}

.sewchic-copyright{
    text-align:center;
    font-size:14px;
    font-variant:normal;
    color:$light-grey;
    a{
        color:$light-grey;
    }
}


@media screen and (min-width: 768px){
    .sewchic-header-widget-container{
        h3{
            margin: 3px auto;
        }
    }

    .sewchic-navbar-toggle{
        display:none;
    }

    .sewchic-carousel-outer-wrapper{
        padding:50px;
    }

    #sewchic-primary-menu{
        padding:0;
        li.menu-item{
            margin-right: 10px;
            position:relative;
            ul.sub-menu{
                position:absolute;
                left: -99999px;
            }
            &:hover a{
                text-decoration:none;
            }
            &:hover ul.sub-menu{
                left:0px;
                background:$headerpink;
                margin:-5px 0 0 0;
                padding:10px;
                z-index:10;
            }
        }
    }
    .big-text-sm{
        font-size:28px;
        font-weight:bold;
    }

    #sewchic-home-search{
        input,label,button{
            margin: 0 10px;
        }
        label{
            position:relative;
            top:4px;
        }
        input{
            width: 250px;
        }
    }

    .sewchic-home-post.sewchic-home-post-small:first-of-type{
        margin-top:0px;
    }
}

@media screen and (min-width: 992px){
    #sewchic-primary-menu{
        font-size:28px;
        font-weight:bold;
    }
    
    .sewchic-header-widget-container{
        text-align:left;

        .sewchic-header-widget-element{
            position:absolute;
            bottom: 0;    
            right:0;
        }
        h3{
            margin: 3px 0 0 0;
            padding-bottom:15px;
        }
    }
    #sewchic-home-tower-container{
        display:table-cell;
        width:33.3%
    }
}

@media screen and (min-width: 1200px){

    #sewchic-carousel-height-block{
        height: 725px;
    }

    #sewchic-home-tower-img{
        margin-top: -75px;
        height: 800px;
    }

}
