/* This is the theme's principal scss stylesheet */

@import 'colors';
@import 'general';
@import 'header_logo_nav';
@import 'searchform';


/*********************
  HOME PAGE STYLES
*********************/
.sewchic-home-hero-wrapper{
    background: repeating-linear-gradient(
        to right,
        $headerpink,
        $headerpink 15px,
        $beige 15px,
        $beige 30px
    );
    border-bottom:50px solid $headerpink;
}
.sewchic-hero-body{
    padding:20px 0;
    background-image: none;
    background-position:center top;
    background-size:contain;
    background-repeat: no-repeat;
}

.sewchic-carousel-item{
    text-align:center;
    img{
        margin:auto;
    }
}

.sewchic-home-menu-title{
    text-decoration:underline;
    font-weight:bold;
}

.sewchic-menu{
    font-size:20px;
    a{color:$black}
}

.sewchic-home-post-container{
    h1, h2, h3, h4, h5, h6{
        margin-top:30px;
    }
}

.sewchic-home-post{
    display:block;
    background-color: $light-purple;
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
    background-origin:border-box;
    opacity:1;
    transition:opacity .5s;
    -webkit-transition:opacity .5s;

    text-align:right;
    position:relative;
    &.sewchic-home-post-large{
        height:500px;    
    }
    &.sewchic-home-post-small{
        height:242px;
        margin-top:16px;
    }
    &:hover{
        opacity:0.5;
        filter: alpha(opacity=50);
    }
    .sewchic-home-post-title{
        border:white solid 1px;
        background-color:rgba(255,255,255,0.75);
        padding:10px 15px;
        position:absolute;
        bottom: 10px;
        right:10px;
        max-width:89%;
    }

}

.sewchic-copyright{
    text-align:center;
    font-size:14px;
    font-variant:normal;
    color:$light-grey;
    a{
        color:$light-grey;
    }
}


@media screen and (min-width: 768px){

    .sewchic-navbar-toggle{
        display:none;
    }

    .big-text-sm{
        font-size:24px;
        font-weight:bold;
    }


    .sewchic-home-post.sewchic-home-post-small:first-of-type{
        margin-top:0px;
    }
}

@media screen and (min-width: 992px){
    
    #sewchic-home-tower-container{
        display:table-cell;
        width:33.3%
    }
}

@media screen and (min-width: 1200px){


    #sewchic-home-tower-img{
        margin-top: -75px;
        height: 800px;
    }

}
