
@import 'colors';
@import 'mixins';

/*generics and overrides*/
span.required{
    color:$requiredRed; 
}

//stright out of woo
.woocommerce-message,
.woocommerce-error,
.woocommerce-info {
    padding: 1em 2em 1em 3.5em;
	margin: 0 0 2em;
    position:relative;
	background-color: lighten($secondary, 5%);
	color: $secondarytext;
	border-top: 3px solid $primary;
	list-style: none outside;
	width: auto;
	word-wrap: break-word;
    &::before {
		content: '\26a0';
		display: inline-block;
		position: absolute;
		top: .1em;
		left: .6em;
        font-size:2em;
	}

    .button {
        float: right;
    }

    li {
		list-style: none outside !important; // Required for default theme compatibility
		padding-left: 30px !important; // Required for default theme compatibility
		margin-left: 0 !important; // Required for default theme compatibility
	}
}

.screen-reader-text{
    clip: rect(1px,1px,1px,1px);
    height: 1px;
    overflow: hidden;
    position: absolute!important;
    width: 1px;
    word-wrap: normal!important;
}


select.orderby{
    margin-bottom:5px;
}


span.onsale{
    display:block;
    text-align:center;
    background-color:$saleRed;
    color:white;
    font-size:35px;
    font-weight:bold;
    margin-top:10px;
    border-radius: 5px;
}

.products{
    span.onsale{
        display:initial;
        text-align:initial;
        font-size:initial;
        margin:0;
        padding:3px 5px;
        position:absolute;
        opacity:0.7;
    }
    .price{
        font-weight:bold;
        color:$priceGreen;
    }
}

.woocommerce-Price-amount{
    color:$priceGreen;
}

ul.page-numbers{
    list-style-type:none;
    padding:0;
    margin:20px 0;
    li{
        display:inline-block;
        padding: 10px 0;
        a, span{
            padding: 10px 13px;
            border: solid 1px $light-grey;
            background-color: $lighter-grey;
            &:hover{
                background-color:white;
                text-decoration:none;
            }
        }
        span.current{
            background-color:white;
        }
    }
}


table.shop_table, table.shop_attributes{
    width: 100%;
    border: 1px solid $cart-grey;
    thead{
       background-color:$lighter-grey; 
    }
    tr{ 
        border-bottom: 1px solid $cart-grey;
    }
    
    td, th{
        padding:6px 12px;
        vertical-align:middle;
    }

    tfoot tr:last-child{ background-color: $lighter-grey; }

}

table.shop_attributes{
    max-width:500px;
}

@media screen and (min-width:768px){
    .col2-set{
        .col-1, .col-2 {width:48%;}
        .col-1 {float:left;}
        .col-2 {float:right;}
        @include clearfix();
    }

}

/*end generics and overrides*/



/*cart page styles*/
.cart_totals > table.shop_table, table.shop_table.cart{
    tr > th {display:none;}
    td:before, th:before{
            content:attr(data-title);
            font-weight:700;
            float:left;
        }
    tr, th{
        text-align:right;
    }
}

table.shop_table.cart{
    &, tbody, tr, td{display:block;}
    tr:nth-child(2n) td, tr:nth-child(2n) th,{
        background-color: rgba(0,0,0,0.025);
    }
    tr:last-child{border:none;}
    thead{display:none;}
    td,th{
        border-bottom:1px solid $cart-grey;
        &:last-child{ border:none; }
        &.product-thumbnail{ display:none; }
        &.product-remove{
            width:100%;
            text-align:center;
            
            a.remove{
                width:100%;
                font-size:0;
                padding: 5px 0 33px;
                &:hover, &:active{
                    text-decoration:none;
                    &:before{
                        background-image:linear-gradient(to bottom, $requiredRed 0, $deepRed 100%);
                    }
                }
                &:before{
                    content:attr(aria-label);
                    padding:5px 7px;
                    color:white;
                    background:red;
                    border-radius:5px;
                    font-size:27px;
                    background-image:linear-gradient(to bottom, $red 0, $requiredRed 100% );
                } 
            }
        }
        &.product-thumbnail{ display: none; }
        &.product-quantity{
            .qty{
                width:3.5em;
                height:1.6em;
                text-align:center; 
            }
        }
        &.actions{
            text-align:left;
            .input-text{
                max-width:initial;
                width:100%;
                min-width:inital;
            }
            .button{
                width:100%;
            }
            div.coupon{
                padding-bottom:5px;
            }
        }
    }
}


.wc-proceed-to-checkout{
    padding: 1em 0;
    a.button.checkout-button{
        display:block;
        padding: 1em;
    }
}


@media screen and (min-width:768px){
    table.shop_table.cart{
        display:table;
        width: 100%;
        thead { display: table-row-group; }
        tbody { display: table-row-group; }
        tr {display: table-row; }
        tr > th {display: table-cell;}
        td,th {
            display: table-cell; 
            text-align:right;
            &:before{
                content:none;
            }
            &.product-remove{
                border-top:1px solid $cart-grey;
                width:auto;
                a.remove{
                    width:auto;
                    font-size:20px;
                    font-weight:700;
                    background:transparent;
                    color:$red;
                    padding: 5px 10px;
                    border-radius:20px;
                    &:hover, &:active{
                        color:$white;
                        background:$requiredRed;
                    }
                    &:before{
                        content:none;
                    }
                }
            }
            &.product-thumbnail{
                display:table-cell;
                min-width:32px;
                img{
                    width: 32px;
                }
            }
            &.product-quantity{
                .qty{
                    width:4em;
                    height:2em;
                    text-align:right;
                }
            }
            &.actions{
                position:relative;
                .input-text{
                    width:auto;
                }
                .button{
                    width:auto;
                }
                div.coupon{
                    padding-top:5px;
                }
                & > input[type="submit"]{
                    position:absolute;
                    top:11px;
                    right:7px;
                }
                
            }
        }
    }

    .cart-collaterals {
        .cross-sells{
            float:left;
            width:28%;
            ul.products{
                padding:0;
                li{
                    width:100%;
                    margin:0; 
                }
            }
        }
        .cart_totals{ 
            float:right;
            width:66%;
            table.shop_table{
                th { text-align:left; }
            } 
        }
        @include clearfix();
    }
}
/*cart page styles*/

/*checkout page styles*/

#order_comments{
    min-height:100px;
}

table.shop_table.woocommerce-checkout-review-order-table{
    thead, tbody, tfoot{
        td, th{
            text-align:right;
        }
        td:first-child, th:first-child{
            float:left;
        }
    }
}
.woocommerce-checkout-payment{
    border: 3px solid $highlight;
    margin: 10px 0;
    padding: 7px 12px;

    ul.payment_methods{
        list-style-type:none;
        padding:0;
        li{
            margin-bottom:10px;
        }
        img{
            display:none;
        }
        .about_paypal{
            margin-left:15px;
        }
    }
    .payment_box{
        margin-left:20px;
    }
    div.place-order{
        text-align:right;
        padding: 0 1em;
        .button{
            width: 100%;
            display: block;
            font-size: 2em;
            font-weight: 700;
        }
    }
}

@media screen and (min-width:768px){
    #order_comments{
        min-height:500px;
    }
    .woocommerce-checkout-payment ul.payment_methods img{ display:inline; }
}


/*end checkout page styles*/

/*breadcrumbs*/
.woocommerce-breadcrumb{
    display:none;
    margin: 10px 0;
    padding: 10px 25px;
    background: $lighter-grey;
    border-radius: 5px;
}

$viewportWidth:500px;
$full-star:'\2605';
$empty-star:'\2606';

/*gallery*/
.woocommerce-product-gallery{
    margin-top:10px;
    img{
        max-width:100% !important;
        height:auto !important;
        max-height: 100%;
    }
    .woocommerce-product-gallery__wrapper{
        width:100%;
        max-width:$viewportWidth;
        margin:auto;
    }
    .flex-viewport{
        width:100%;
        margin:auto;
        max-width:$viewportWidth;
        .woocommerce-product-gallery__wrapper{
            width:initial;
            max-width:initial;
            margin:initial;
        }
    } 
    ol.flex-control-nav{
        width:100%;
        margin:auto;
        max-width:$viewportWidth;
        list-style-type:none;
        padding:0;
        text-align:center;
        li{
            max-width:100px;
            display:inline-block;
            padding: 10px;
        }
    }
}

.entry-summary{
    .price{
        margin:10px;
        font-weight:bold;
        font-size:24px;
        color:$priceGreen;
        vertical-align:middle;
    }
}

/*variations table*/
table.variations{
    margin:10px auto;
    label{
        color:black;
        font-size:24px;
        margin:0;
        vertical-align:middle;
    }
    
    .bs-inline-hack{
        margin-top:0;
        margin-bottom:0;
        vertical-align:middle;
        display:inline-block;
        width:auto;
    }

}

.wcsc-cart-add-form{

    .input-text{
        max-width:75px;
        min-width:50px;
    }
    table.group_table{
        width:95%;
        max-width:400px;
        margin: 20px auto;
        td{
            padding:5px;
            white-space:normal;
        }
        td.label{
            display:table-cell;
            vertical-align:middle;
            text-align:left;
            label{
                margin-bottom:0;
                font-size:20px;
            }
        }
    }

    .quantity-wrapper{
        padding:10px;
        border: 2px solid $headerpink;
        border-radius: 5px;
        max-width:350px;
        margin:auto;
        width:90%;
        text-align:center;
        div, button, input{
            display:inline-block;
        }
    }

}

.product_meta{
    margin: 15px 0 10px;
    font-size: 14px;
    &,a{
        color:$light-grey;
        font-style:italic;
    }
    a{
        text-decoration:underline;
    }
    @include clearfix();
}

.wc-tabs-wrapper{
    clear:both;
    ul.tabs{
        list-style-type:none;
        margin:0;
        padding:18px 0 0 0;
        li{
            a{
                text-align:center;
                padding: 10px 0;
                margin: 5px 0;
                display:block;
                background-color:$lighter-grey;
                border:1px solid $light-grey;
                color:$black;
            }
            &.active a, a:hover{
                background-color:white;    
                text-decoration:none;
            
            }
        }
    }
}

.woocommerce-Tabs-panel{
    box-shadow: 0 1px 1px rgba(0,0,0,0);
}

.woocommerce-Reviews{
    .woocommerce-Reviews-title{
        display:none;
    }
    ol.commentlist{
        list-style-type:none;
        margin:0;
        padding:0;
        li{
            padding:10px 0;
            border-bottom: 1px solid $lighter-grey;
            &:last-of-type{
                border:none;
            }
            img{
                float:left;
                margin: 0 13px 10px 0;
            }
            p{
                margin:0;
            }
            .sewchic-wc-star-rating{
                color:$addToCartBlue2;
            }
        }
    
    }
    .comment-reply-title{
        font-weight:bold;
        font-size:24px;
    }
    .comment-form-rating{
        .stars{
            a{
                position:relative;
                font-size:25px;
                visibility:hidden;
                width:1em;
                white-space: nowrap;
                cursor: pointer;
                display:inline-block;
                &:before{
                    position:absolute;
                    visibility:visible;
                    display: inline-block;
                    content: $empty-star;
                    color: $addToCartBlue2;
                    z-index:2; 
                }
                &.clicked:before{
                    content: $full-star
                }
                &.active.clicked ~ a:before{
                    visibility:hidden;
                }
                &.active.clicked ~ a:after{ 
                    position:absolute;
                    top:0;
                    left:0;
                    display:inline-block;
                    visibility:visible;
                    content:$empty-star;
                    z-index:5;
                }
            }
        }
    }
    .comment-respond{
        label{
            display:block;
        }
        input, textarea{
            max-width:400px;
            font-size:16px;
        }
        input{
            height:36px;
        }
    }


}


@media screen and (min-width: 768px){
    .woocommerce-breadcrumb{
        display:block;
    }
    table.variations{
        margin:10px 0 20px;
    }
    .wcsc-cart-add-form{
        .input-text{
            max-width:100px;
        }
        margin:20px 0;
        table.group_table{
            max-width:initial;
            margin:20px 0;
        }
        .quantity-wrapper{
            max-width:initial;
            margin:initial;
            width:initial;
            text-align:left;
            display:inline;
            padding: 15px 12px 17px;
        }
    }
    .related.products, .upsells.products{
        width:100%;
    }
    .wc-tabs-wrapper{
        padding-top:35px;
        ul.tabs{
        padding:0 0 18px 0;
            border-bottom:10px $light-grey solid;
            li{
                display:inline;
                margin:0 5px;
                a{
                    display:initial;
                    text-align:initial;
                    padding:20px 15px;
                    margin:0;
                    background-color:white;
                    border-top-left-radius:5px;
                    border-top-right-radius:5px;
                }
                &.active a, a:hover{
                    background-color: $light-grey;
                    color:white;
                }
            
            }
        }
        
    }
}

@media screen and (min-width: 992px){
    .woocommerce-product-gallery{
        float:left;
        margin: 5px 25px 25px 0;
        .woocommerce-product-gallery__wrapper{
            max-width:300px;
        }
        .flex-viewport{
            max-width:300px;
        }
        ol.flex-control-nav{
            max-width:300px;
            li{
                max-width: 75px;
            }
        
        }
    }
}

@media screen and (min-width:1200px){
    .wcsc-cart-add-form{
        table.group_table{
            max-width:570px;
        }
    }
    .woocommerce-product-gallery{
        .woocommerce-product-gallery__wrapper{
            max-width:500px;
        }
        .flex-viewport{
            max-width:500px;
        }
        ol.flex-control-nav{
            max-width:500px;
            li{
                max-width: 100px;
            }
        
        }
    }
}
/*products feeds*/
ul.products{
    list-style-type:none;
    padding:0;
    margin:30px 0;

    li{
        text-align:center;
        padding-bottom:15px;
        margin-bottom:15px;
        border-bottom: 1px solid $lighter-grey;
        h2{
            margin: 5px 0;
        }
        a{
            display: block;
            margin: 5px 0;
        }
        img{
            width:100%;
            height:auto;
            max-height:100%; 
        }
        &:last-of-type{
            margin-bottom:0;
            border-bottom:none
        }
    }
}

@media screen and (min-width:768px){
    ul.products{
        margin:10px -10px;

        li{
            position:relative;
            display:inline-block;
            width:45%;
            max-width:496px;
            margin: 0 2%;
            border:none;

            
            a{
                position:relative;
            }
            
            h2{
                position:absolute;
                bottom:35px;
                right:10px;
                padding:5px;
                background:white;
                opacity:0.7;
                font-size:18px;
                margin:0;
                text-align:right;
                max-width:200px;
            }
            .added_to_cart{
                position: absolute;
                top: 0;
                z-index: 10;
                width: 100%;
                background: $addToCartBlue2;
                color: white;
                padding: 10px;
            }
        }
    }
}
@media screen and (min-width:992px){
    ul.products li {
        width:30%;
        margin:0 1%;
        max-width:340px;
    }

}
@media screen and (min-width:1200px){
    ul.products li{
        width:22.5%;
        margin:0 1%;
        max-width:initial;
        
    }
}


/*shop page*/
.woocommerce-products-header, .woocommerce-result-count{
    text-align:center;
}

.woocommerce-products-header{
    margin:20px 0 10px;
}



.wcsc-shop-container{
    .filter-widgets-toggle{
        margin: 10px auto 0;
    }
    #filter_widgets_bin{
        text-align:center;
        ul{
            list-style-type:none;
            padding:0;
        } 
        .price_slider_wrapper > div{
            margin:15px 0;
            .price_label{
                margin:5px 0;
            }
        }
    }
    
}

@media screen and (min-width:768px){
    
    .woocommerce-products-header, .woocommerce-result-count{
        text-align:initial;
    }

    .woocommerce-result-count, .woocommerce-ordering{
        display: inline-block;
        margin-right: 5px;
    }

    .wcsc-shop-container{
        .orderby{
            max-width:200px;
        }

        .wcsc-shop-table{
            display:table;
        }
        .wcsc-shop-row{
            display:table-row;
        }
        .wcsc-shop-cell{
            display:table-cell;
        }

        .filter-widgets{
            width:17%;
            vertical-align:top;
            padding-right:10px;
            min-width:205px;
        }

        #filter_widgets_bin{
            display:block !important;
            text-align:left;
            .price_slider_wrapper{
                width:80%;
            }
        }

    }

}

@media screen and (min-width:992px){
}

@media screen and (min-width:1200px){
}

/*Account page*/
nav.woocommerce-MyAccount-navigation{
    ul{
        margin:0;
        padding:0;
        list-style-type:none;
        overflow: visible;
        li{
            text-align:center; 
            a{
                display:block;
                margin-bottom: 10px;
                padding:10px;
                border: 1px solid $light-grey;
                background-color: $lighter-grey;
                color: $black; 
            }
        }
        li.is-active, li:hover{
            a {
                background-color:white;
            }
        }
    }
}

@media screen and (min-width:768px){
    nav.woocommerce-MyAccount-navigation ul{
        margin:20px 0;
        li{
            display:inline-block;
            margin-right:7px;
            &:last-of-type{
                margin-right:0;
            }
            a{
                display:initial;
                margin:0;
            }
        }
    }   
    
    /*login*/
    .woocommerce-form-login{
        max-width:500px;
    }
}

@media screen and (min-width:768px) and (max-width:992px){
    nav.woocommerce-MyAccount-navigation ul li a{
        padding:6px;
        font-size:14px;
    }
}

@media screen and (min-width:992px){
    nav.woocommerce-MyAccount-navigation ul li{
        margin-right:10px;
    }
}

/*Woocommerce widgets*/
.wcsc-sidebar{ 
    ul{
        list-style-type:none;
        padding:0;
        li{
            img{
                display:none;
            }
            span.reviewer{
                padding-left:7px;
            }
        }
    }
    ul.product-categories{
        ul, li{
            display: inline;
        }
        a{
            margin-right:5px;
        }
    }
}

.woocommerce-mini-cart__buttons a{
    display:block;
    margin-bottom:7px;
}
.woocommerce-product-search input[type="submit"]{
    display:block;
    margin-top:5px;
    width:100%;
}


@media screen and (min-width:768px){
    .wcsc-shop-footer-widgets{
        .wcsc-shop-footer-widget{
            ul, li{
                display:inline;
            }
            a{
                margin-right:5px;
            }
        }
    }
}

@media screen and (min-width:768px) and (max-width:991px){
    .woocommerce-product-search input{
        max-width:700px;
        &[type="submit"]{
            width:auto;
        }
    }
}
@media screen and (min-width:992px){
}

@media screen and (min-width:1200px){
    .woocommerce-mini-cart__buttons a{
        display:initial;
        margin-right:5px;
    }

    .woocommerce-product-search input[type="submit"]{
        width:auto;
    }

}


//receipt page
.woocommerce-order{
    .woocommerce-notice{
        margin-bottom:25px;
    }

    ul.order_details{
        list-style-type:none;
        padding:0;
        margin-bottom:20px;
        li{
            float:none;
            margin: 7px 0;
            border-right:0;
            border-bottom:1px solid $light-grey;
            padding: 7px 0;
            &:last-of-type{
                border:none;
            }
        }
    }
}

table.shop_table.order_details{
    td, th{
        text-align:right;
    }
    td:first-child, th:first-child{
        text-align:left;
    }
}

@media screen and (min-width:768px){
    .woocommerce-order{
        ul.order_details{
            li{
                display:inline-block;
                border:none;
                margin: 7px 14px 7px 0;
                padding: 7px 14px 7px 0;
                &:last-of-type{
                    margin: 7px 0;
                    padding: 7px 0;
                }
            }
        }
    }
}

