/* This is the theme's principal scss stylesheet */
/*this is the colors stylesheet*/
/************************
 * GENERAL STYLES
 * 
 * **********************/
body {
  font-family: "Trebuchet MS","Garamond","Times New Roman", serif, sans-serif;
  font-variant: small-caps; }

figure {
  margin: 0; }

.standard-wrap {
  max-width: 1200px; }

.tight-wrap {
  max-width: 992px; }

.wrap {
  margin: auto;
  width: 95%; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.sewchic-cell {
  margin-bottom: 15px; }

.sewchic-menu {
  font-size: 20px; }
  .sewchic-menu a {
    color: #222;
    text-decoration: none; }
    .sewchic-menu a:hover {
      text-decoration: underline; }

@media screen and (min-width: 768px) {
  .stepped-wrap {
    max-width: 768px; }

  .sewchic-row {
    display: flex;
    flex-flow: row nowrap; }
    .sewchic-row.sewchic-row-reverse {
      flex-flow: row-reverse nowrap; }

  .sewchic-cell {
    flex: 1000 0%;
    margin-right: 30px;
    margin-bottom: 0; }
    .sewchic-cell:last-of-type {
      margin-right: 0; }
    .sewchic-cell.force-one-fifth {
      flex: 1 20%; }
    .sewchic-cell.force-quarter-width {
      flex: 1 25%; }
    .sewchic-cell.force-half-width {
      flex: 1 50%; }
    .sewchic-cell.sewchic-right-rail {
      min-width: 175px; }

  .sewchic-row-reverse .sewchic-cell {
    margin-left: 30px;
    margin-right: 0; }
    .sewchic-row-reverse .sewchic-cell:last-of-type {
      margin-left: 0; }

  .sewchic-menu {
    padding-left: 25px; } }
@media screen and (min-width: 992px) {
  .stepped-wrap {
    max-width: 992px; } }
@media screen and (min-width: 1200px) {
  .stepped-wrap {
    max-width: 1200px; } }
/************************
 * HEADER STYLES
 * LOGO AND NAV MENU
 * **********************/
.sewchic-header-pink {
  background-color: #fbdedd; }

.sewchic-account-links {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  z-index: 10; }
  .sewchic-account-links a {
    color: #222; }

.sewchic-header-widget-container {
  position: relative;
  text-align: center; }
  .sewchic-header-widget-container .custom-logo {
    max-width: 100%;
    height: auto;
    max-height: 100%; }
  .sewchic-header-widget-container h3 {
    text-align: center; }

.sewchic-navbar-default {
  margin-bottom: 0; }
  .sewchic-navbar-default a {
    color: #222; }

#sewchic_primary_menu {
  display: none;
  font-size: 20px;
  padding: 0 10px; }
  #sewchic_primary_menu a {
    text-decoration: none;
    display: block;
    padding: 5px 0; }
  #sewchic_primary_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 10px 0; }
  #sewchic_primary_menu .sub-menu {
    display: none;
    padding: 0 0 0 20px;
    list-style-type: none; }

@media screen and (min-width: 768px) {
  .sewchic-navbar-toggle {
    display: none; }

  .sewchic-header-widget-container h3 {
    margin: 3px auto; }

  #sewchic_primary_menu {
    display: block !important;
    padding: 0; }
    #sewchic_primary_menu a {
      padding: 5px 8px; }
    #sewchic_primary_menu li.menu-item {
      display: inline-block;
      margin-right: 10px;
      position: relative; }
      #sewchic_primary_menu li.menu-item ul.sub-menu {
        display: block;
        position: absolute;
        left: -99999px; }
        #sewchic_primary_menu li.menu-item ul.sub-menu li {
          display: block;
          white-space: nowrap; }
      #sewchic_primary_menu li.menu-item:hover {
        background: #eee; }
      #sewchic_primary_menu li.menu-item:hover a {
        text-decoration: none; }
      #sewchic_primary_menu li.menu-item:hover ul.sub-menu {
        left: 0px;
        background: #fbdedd;
        margin: -5px 0 0 0;
        padding: 10px;
        z-index: 10; } }
@media screen and (min-width: 992px) {
  .sewchic-account-links {
    max-width: 250px;
    text-align: right;
    position: absolute;
    top: 0;
    right: 0; }

  .sewchic-header-widget-container {
    text-align: left; }
    .sewchic-header-widget-container .sewchic-header-widget-element {
      position: absolute;
      bottom: 0;
      right: 0; }
    .sewchic-header-widget-container h3 {
      margin: 3px 0 0 0;
      padding-bottom: 15px; }

  #sewchic_primary_menu {
    font-size: 24px;
    font-weight: bold; } }
/*********************
  HOME PAGE STYLES
*********************/
.sewchic-home-hero-wrapper {
  background: repeating-linear-gradient(to right, #fbdedd, #fbdedd 15px, #fbfae7 15px, #fbfae7 30px);
  border-bottom: 50px solid #fbdedd; }

.sewchic-hero-body {
  padding: 20px 0;
  background-image: none;
  background-position: center top;
  background-size: contain;
  background-repeat: no-repeat; }

.sewchic-carousel-item {
  text-align: center; }
  .sewchic-carousel-item img {
    margin: auto; }

.sewchic-home-post-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between; }
  .sewchic-home-post-container > * {
    margin: 10px;
    flex: 1 50%; }
  .sewchic-home-post-container * {
    box-sizing: border-box; }
  .sewchic-home-post-container .sewchic-home-post-category .sewchic-home-post {
    background-position: left center; }
  .sewchic-home-post-container .sewchic-home-post-products .sewchic-home-post {
    background-position: center center; }
  .sewchic-home-post-container.inverted .sewchic-home-post-category .sewchic-home-post {
    background-position: right center; }
  .sewchic-home-post-container .sewchic-home-post {
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
    position: relative;
    text-decoration: none;
    text-align: center; }
    .sewchic-home-post-container .sewchic-home-post.sewchic-home-post-large {
      height: 500px; }
    .sewchic-home-post-container .sewchic-home-post.sewchic-home-post-small {
      height: 242px;
      margin-bottom: 18px; }
      .sewchic-home-post-container .sewchic-home-post.sewchic-home-post-small:last-of-type {
        margin-bottom: 0; }
    .sewchic-home-post-container .sewchic-home-post .sewchic-home-post-category-title {
      margin: 0;
      padding: 10px;
      color: white;
      font-size: 30px;
      -webkit-text-stroke: 1px #222;
      text-shadow: 2px 2px #222, 1px 1px #222, 1px -1px #222, -1px 1px #222, -1px -1px #222; }
    .sewchic-home-post-container .sewchic-home-post .sewchic-home-button-text {
      border: transparent solid 5px;
      background-color: white;
      color: #222;
      padding: 5px 10px;
      position: absolute;
      bottom: 10px;
      right: 50%;
      margin-right: -100px;
      font-size: 20px;
      width: 200px;
      max-width: 84%; }
    .sewchic-home-post-container .sewchic-home-post:hover .sewchic-home-button-text {
      border: #fff2ff solid 5px;
      background-color: #222;
      color: white; }

.sewchic-home-secondary-content {
  padding: 0 10px; }

@media screen and (min-width: 768px) {
  .big-text-sm {
    font-size: 24px;
    font-weight: bold; }

  .sewchic-home-post-container {
    flex-flow: row nowrap; }
    .sewchic-home-post-container .sewchic-home-post-category {
      flex: 100 auto; }
    .sewchic-home-post-container .sewchic-home-post-products {
      flex: 1 33%; }
    .sewchic-home-post-container .sewchic-home-post {
      text-align: left; }
      .sewchic-home-post-container .sewchic-home-post .sewchic-home-button-text {
        width: auto;
        margin-right: auto;
        right: 15px; }
      .sewchic-home-post-container .sewchic-home-post .sewchic-home-post-category-title {
        font-size: 48px;
        position: absolute;
        top: 10px;
        right: 30px; }
    .sewchic-home-post-container.inverted {
      flex-flow: row-reverse nowrap; }
      .sewchic-home-post-container.inverted .sewchic-home-post {
        text-align: right; }
        .sewchic-home-post-container.inverted .sewchic-home-post .sewchic-home-button-text {
          left: 15px;
          right: initial; }
        .sewchic-home-post-container.inverted .sewchic-home-post .sewchic-home-post-category-title {
          left: 30px;
          right: initial; } }
@media screen and (min-width: 992px) {
  .sewchic-home-post-container .sewchic-home-post-products {
    flex: 1 20%; } }
.sewchic-copyright {
  text-align: center;
  font-size: 14px;
  font-variant: normal;
  color: #aeaeae; }
  .sewchic-copyright a {
    color: #aeaeae; }

/********************
  FORM STYLES
*********************/
.sewchic-form div.sewchic-input-group {
  margin: 10px 0; }
.sewchic-form input, .sewchic-form label, .sewchic-form button {
  margin: 5px 0; }
.sewchic-form input {
  height: auto; }

#sewchic_search_form {
  margin: 20px 0; }

a.button, input.button, input.submit, button.button, input[type="submit"], button[type="submit"] {
  background-color: #efefef;
  border: 1px solid #aeaeae;
  color: #222;
  padding: 6px 12px;
  margin-bottom: 0;
  margin-top: 5px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  -ms-touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }
  a.button:hover, a.button:active, input.button:hover, input.button:active, input.submit:hover, input.submit:active, button.button:hover, button.button:active, input[type="submit"]:hover, input[type="submit"]:active, button[type="submit"]:hover, button[type="submit"]:active {
    background-color: white; }

a.button.alt, input.button.alt, input.submit.alt, button.button.alt {
  background-color: #878ac1;
  color: white; }
  a.button.alt:hover, a.button.alt:active, input.button.alt:hover, input.button.alt:active, input.submit.alt:hover, input.submit.alt:active, button.button.alt:hover, button.button.alt:active {
    background-color: #ced0ff;
    color: #515151; }

button.wcsc-toggle.button {
  width: 100%;
  margin-bottom: 10px;
  display: block; }
  button.wcsc-toggle.button:active, button.wcsc-toggle.button:hover {
    background-color: white; }
  button.wcsc-toggle.button .icon-bar {
    display: block;
    margin: 4px auto;
    width: 22px;
    background-color: #222;
    height: 2px;
    border-radius: 1px; }

select,
textarea,
input[type="text"],
input[type="email"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"] {
  width: 100%;
  margin-top: 5px;
  padding: 10px 12px 8px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1em;
  background-color: white;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.75);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }

.input-checkbox {
  display: none; }
  .input-checkbox + .input-checkbox-label {
    position: relative;
    display: inline-block;
    background-color: #efefef;
    border: 1px solid #aeaeae;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.75);
    padding: 10px;
    border-radius: 3px;
    position: relative;
    vertical-align: middle;
    margin-right: 7px; }

.input-checkbox:checked + .input-checkbox-label:before, .input-checkbox:active + .input-checkbox-label:before {
  content: '\2714';
  position: absolute;
  left: 4px;
  top: 1px;
  font-size: 15px; }

@media screen and (min-width: 768px) {
  #sewchic_search_form input {
    padding: 6px 0; }
  #sewchic_search_form label {
    position: relative;
    top: 4px; }

  .sewchic-form.limited-width {
    max-width: 500px; }

  button.wcsc-toggle.button {
    display: none; }

  .wcsc-collapse {
    display: block;
    height: initial !important; }

  .sewchic-form-inline.sewchic-form h1, .sewchic-form-inline.sewchic-form h2, .sewchic-form-inline.sewchic-form h3, .sewchic-form-inline.sewchic-form h4, .sewchic-form-inline.sewchic-form h5, .sewchic-form-inline.sewchic-form h6,
  .sewchic-form-inline.sewchic-form div.sewchic-input-group {
    display: inline;
    margin: 10px;
    white-space: nowrap;
    line-height: 50px; }
  .sewchic-form-inline.sewchic-form .input-text {
    width: auto; }
  .sewchic-form-inline.sewchic-form input, .sewchic-form-inline.sewchic-form label, .sewchic-form-inline.sewchic-form button {
    margin: 0 10px; } }
/*****************
 * FOOTER STYLES
 * **************/
.sewchic-footer-wrapper {
  background-color: #fbfae7;
  padding: 15px 0;
  margin-top: 15px;
  width: 100%;
  box-sizing: border-box; }

.sewchic-footer-menu-container,
.sewchic-footer-menu-title {
  text-align: center; }

.sewchic-footer-menu-title {
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 5px; }

.sewchic-footer-menu {
  list-style-type: none;
  padding: 0;
  margin-top: 0; }

@media screen and (min-width: 768px) {
  .sewchic-footer-menu-container,
  .sewchic-footer-menu-title {
    text-align: left; } }

/*# sourceMappingURL=main.css.map */
