/*This stylesheet is for single content*/
/*this is the colors stylesheet*/
/*HEADER*/
figcaption {
  background-color: #efefef;
  font-style: italic;
  font-size: 16px;
  padding: 5px; }

figure.sewchic-single-featured-image {
  margin: 10px 0 20px; }
  figure.sewchic-single-featured-image img {
    width: 100%;
    height: auto;
    max-height: 100%; }
  figure.sewchic-single-featured-image figcaption {
    text-align: right; }

/*CONTENT*/
@media screen and (min-width: 768px) {
  figure.alignleft {
    float: left;
    margin: 0 1em 1em 0; }

  figure.alignright {
    float: right;
    margin: 0 0 1em 1em; }
    figure.alignright figcaption {
      text-align: right; }

  figure.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto; }
    figure.aligncenter figcaption {
      text-align: center; }

  img.alignright {
    float: right;
    margin: 0 0 1em 1em; }

  img.alignleft {
    float: left;
    margin: 0 1em 1em 0; }

  img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto; }

  a img.alignright {
    float: right;
    margin: 0 0 1em 1em; }

  a img.alignleft {
    float: left;
    margin: 0 1em 1em 0; }

  a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto; } }
/***********************
* POSTS
***********************/
.sewchic-single:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden; }

.sewchic-single-meta {
  font-size: 16px; }
  .sewchic-single-meta span.separate + span.separate {
    margin-left: 7px; }
    .sewchic-single-meta span.separate + span.separate:before {
      content: '|';
      margin-right: 7px;
      font-size: 20px; }
  .sewchic-single-meta .sewchic-single-meta-links, .sewchic-single-meta .sewchic-single-meta-links a {
    color: #aeaeae; }

.sewchic-single-content img, .sewchic-single-content figure {
  width: 100%;
  height: auto;
  max-height: 100%; }

@media screen and (min-width: 768px) {
  .sewchic-single-meta {
    font-size: inherit; }

  .sewchic-single-content img, .sewchic-single-content figure {
    width: auto;
    max-width: 100%; }
  .sewchic-single-content ul, .sewchic-single-content ol {
    width: auto;
    overflow: hidden;
    padding-left: 25px; } }
@media screen and (max-width: 768px) {
  .sewchic-single-meta-links span.separate {
    display: block; }
    .sewchic-single-meta-links span.separate + span.separate {
      margin-top: 7px;
      margin-left: 0; }
      .sewchic-single-meta-links span.separate + span.separate:before {
        content: none;
        margin: 0; }

  .sewchic-single-content figure {
    max-width: initial !important; } }
/***********************
* COMMENTS
***********************/
#sewchic_comments_area {
  margin-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #aeaeae;
  border-bottom: 1px solid #aeaeae; }
  #sewchic_comments_area .sewchic-comments-title {
    margin: 20px 0; }
  #sewchic_comments_area .sewchic-comment {
    margin: 20px 0; }
    #sewchic_comments_area .sewchic-comment .sewchic-comment-author-avatar {
      float: left;
      margin: 8px 7px 2px 0; }
    #sewchic_comments_area .sewchic-comment .sewchic-comment-time-posted {
      color: #aeaeae; }
    #sewchic_comments_area .sewchic-comment .sewchic-comment-actions a {
      display: block; }
  #sewchic_comments_area .comment-respond textarea#sewchic_comment_respond {
    height: 80px; }
  #sewchic_comments_area .comment-respond .sewchic-comment-respond-section {
    margin: 20px 0; }
    #sewchic_comments_area .comment-respond .sewchic-comment-respond-section input, #sewchic_comments_area .comment-respond .sewchic-comment-respond-section textarea {
      display: block; }
  #sewchic_comments_area .comment-respond .sewchic-comment-submit {
    display: block;
    width: 100%; }

@media screen and (min-width: 768px) {
  #sewchic_comments_area .sewchic-comment .sewchic-comment-child {
    margin-left: 30px; }
  #sewchic_comments_area .sewchic-comment .sewchic-comment-actions a {
    display: initial; }
  #sewchic_comments_area .comment-respond .sewchic-comment-respond-section input, #sewchic_comments_area .comment-respond .sewchic-comment-respond-section textarea {
    max-width: 700px; }
  #sewchic_comments_area .comment-respond .sewchic-comment-submit {
    width: auto; } }
@media screen and (min-width: 992px) {
  #sewchic_comments_area {
    border-bottom: 0; } }

/*# sourceMappingURL=single.css.map */
