@charset "UTF-8";
/*this is the colors stylesheet*/
/*generics and overrides*/
span.required {
  color: #a00; }

.woocommerce-message,
.woocommerce-error,
.woocommerce-info {
  padding: 1em 2em 1em 3.5em;
  margin: 0 0 2em;
  position: relative;
  background-color: #f7f6f7;
  color: #515151;
  border-top: 3px solid #a46497;
  list-style: none outside;
  width: auto;
  word-wrap: break-word; }
  .woocommerce-message::before,
  .woocommerce-error::before,
  .woocommerce-info::before {
    content: '\26a0';
    display: inline-block;
    position: absolute;
    top: .1em;
    left: .6em;
    font-size: 2em; }
  .woocommerce-message .button,
  .woocommerce-error .button,
  .woocommerce-info .button {
    float: right; }
  .woocommerce-message li,
  .woocommerce-error li,
  .woocommerce-info li {
    list-style: none outside !important;
    padding-left: 30px !important;
    margin-left: 0 !important; }

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; }

select.orderby {
  margin-bottom: 5px; }

span.onsale {
  display: block;
  text-align: center;
  background-color: #de0000;
  color: white;
  font-size: 35px;
  font-weight: bold;
  margin-top: 10px;
  border-radius: 5px; }

.products span.onsale {
  display: initial;
  text-align: initial;
  font-size: initial;
  margin: 0;
  padding: 3px 5px;
  position: absolute;
  opacity: 0.7; }
.products .price {
  font-weight: bold;
  color: #00ae00; }

.woocommerce-Price-amount {
  color: #00ae00; }

ul.page-numbers {
  list-style-type: none;
  padding: 0;
  margin: 20px 0; }
  ul.page-numbers li {
    display: inline-block;
    padding: 10px 0; }
    ul.page-numbers li a, ul.page-numbers li span {
      padding: 10px 13px;
      border: solid 1px #aeaeae;
      background-color: #efefef; }
      ul.page-numbers li a:hover, ul.page-numbers li span:hover {
        background-color: white;
        text-decoration: none; }
    ul.page-numbers li span.current {
      background-color: white; }

table.shop_table, table.shop_attributes {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1); }
  table.shop_table thead, table.shop_attributes thead {
    background-color: #efefef; }
  table.shop_table tr, table.shop_attributes tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  table.shop_table td, table.shop_table th, table.shop_attributes td, table.shop_attributes th {
    padding: 6px 12px;
    vertical-align: middle; }
  table.shop_table tfoot tr:last-child, table.shop_attributes tfoot tr:last-child {
    background-color: #efefef; }

table.shop_attributes {
  max-width: 500px; }

@media screen and (min-width: 768px) {
  .col2-set .col-1, .col2-set .col-2 {
    width: 48%; }
  .col2-set .col-1 {
    float: left; }
  .col2-set .col-2 {
    float: right; }
  .col2-set:after {
    content: '.';
    font-size: 0;
    display: block;
    clear: both;
    line-height: 0;
    visibility: hidden; } }
/*end generics and overrides*/
/*cart page styles*/
.cart_totals > table.shop_table tr > th, table.shop_table.cart tr > th {
  display: none; }
.cart_totals > table.shop_table td:before, .cart_totals > table.shop_table th:before, table.shop_table.cart td:before, table.shop_table.cart th:before {
  content: attr(data-title);
  font-weight: 700;
  float: left; }
.cart_totals > table.shop_table tr, .cart_totals > table.shop_table th, table.shop_table.cart tr, table.shop_table.cart th {
  text-align: right; }

table.shop_table.cart, table.shop_table.cart tbody, table.shop_table.cart tr, table.shop_table.cart td {
  display: block; }
table.shop_table.cart tr:nth-child(2n) td, table.shop_table.cart tr:nth-child(2n) th {
  background-color: rgba(0, 0, 0, 0.025); }
table.shop_table.cart tr:last-child {
  border: none; }
table.shop_table.cart thead {
  display: none; }
table.shop_table.cart td, table.shop_table.cart th {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  table.shop_table.cart td:last-child, table.shop_table.cart th:last-child {
    border: none; }
  table.shop_table.cart td.product-thumbnail, table.shop_table.cart th.product-thumbnail {
    display: none; }
  table.shop_table.cart td.product-remove, table.shop_table.cart th.product-remove {
    width: 100%;
    text-align: center; }
    table.shop_table.cart td.product-remove a.remove, table.shop_table.cart th.product-remove a.remove {
      width: 100%;
      font-size: 0;
      padding: 5px 0 33px; }
      table.shop_table.cart td.product-remove a.remove:hover, table.shop_table.cart td.product-remove a.remove:active, table.shop_table.cart th.product-remove a.remove:hover, table.shop_table.cart th.product-remove a.remove:active {
        text-decoration: none; }
        table.shop_table.cart td.product-remove a.remove:hover:before, table.shop_table.cart td.product-remove a.remove:active:before, table.shop_table.cart th.product-remove a.remove:hover:before, table.shop_table.cart th.product-remove a.remove:active:before {
          background-image: linear-gradient(to bottom, #a00 0, #700 100%); }
      table.shop_table.cart td.product-remove a.remove:before, table.shop_table.cart th.product-remove a.remove:before {
        content: attr(aria-label);
        padding: 5px 7px;
        color: white;
        background: red;
        border-radius: 5px;
        font-size: 27px;
        background-image: linear-gradient(to bottom, red 0, #a00 100%); }
  table.shop_table.cart td.product-thumbnail, table.shop_table.cart th.product-thumbnail {
    display: none; }
  table.shop_table.cart td.product-quantity .qty, table.shop_table.cart th.product-quantity .qty {
    width: 3.5em;
    height: 1.6em;
    text-align: center; }
  table.shop_table.cart td.actions, table.shop_table.cart th.actions {
    text-align: left; }
    table.shop_table.cart td.actions .input-text, table.shop_table.cart th.actions .input-text {
      max-width: initial;
      width: 100%;
      min-width: inital; }
    table.shop_table.cart td.actions .button, table.shop_table.cart th.actions .button {
      width: 100%; }
    table.shop_table.cart td.actions div.coupon, table.shop_table.cart th.actions div.coupon {
      padding-bottom: 5px; }

.wc-proceed-to-checkout {
  padding: 1em 0; }
  .wc-proceed-to-checkout a.button.checkout-button {
    display: block;
    padding: 1em; }

@media screen and (min-width: 768px) {
  table.shop_table.cart {
    display: table;
    width: 100%; }
    table.shop_table.cart thead {
      display: table-row-group; }
    table.shop_table.cart tbody {
      display: table-row-group; }
    table.shop_table.cart tr {
      display: table-row; }
    table.shop_table.cart tr > th {
      display: table-cell; }
    table.shop_table.cart td, table.shop_table.cart th {
      display: table-cell;
      text-align: right; }
      table.shop_table.cart td:before, table.shop_table.cart th:before {
        content: none; }
      table.shop_table.cart td.product-remove, table.shop_table.cart th.product-remove {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        width: auto; }
        table.shop_table.cart td.product-remove a.remove, table.shop_table.cart th.product-remove a.remove {
          width: auto;
          font-size: 20px;
          font-weight: 700;
          background: transparent;
          color: red;
          padding: 5px 10px;
          border-radius: 20px; }
          table.shop_table.cart td.product-remove a.remove:hover, table.shop_table.cart td.product-remove a.remove:active, table.shop_table.cart th.product-remove a.remove:hover, table.shop_table.cart th.product-remove a.remove:active {
            color: white;
            background: #a00; }
          table.shop_table.cart td.product-remove a.remove:before, table.shop_table.cart th.product-remove a.remove:before {
            content: none; }
      table.shop_table.cart td.product-thumbnail, table.shop_table.cart th.product-thumbnail {
        display: table-cell;
        min-width: 32px; }
        table.shop_table.cart td.product-thumbnail img, table.shop_table.cart th.product-thumbnail img {
          width: 32px; }
      table.shop_table.cart td.product-quantity .qty, table.shop_table.cart th.product-quantity .qty {
        width: 4em;
        height: 2em;
        text-align: right; }
      table.shop_table.cart td.actions, table.shop_table.cart th.actions {
        position: relative; }
        table.shop_table.cart td.actions .input-text, table.shop_table.cart th.actions .input-text {
          width: auto; }
        table.shop_table.cart td.actions .button, table.shop_table.cart th.actions .button {
          width: auto; }
        table.shop_table.cart td.actions div.coupon, table.shop_table.cart th.actions div.coupon {
          padding-top: 5px; }
        table.shop_table.cart td.actions > input[type="submit"], table.shop_table.cart th.actions > input[type="submit"] {
          position: absolute;
          top: 11px;
          right: 7px; }

  .cart-collaterals .cross-sells {
    float: left;
    width: 28%; }
    .cart-collaterals .cross-sells ul.products {
      padding: 0; }
      .cart-collaterals .cross-sells ul.products li {
        width: 100%;
        margin: 0; }
  .cart-collaterals .cart_totals {
    float: right;
    width: 66%; }
    .cart-collaterals .cart_totals table.shop_table th {
      text-align: left; }
  .cart-collaterals:after {
    content: '.';
    font-size: 0;
    display: block;
    clear: both;
    line-height: 0;
    visibility: hidden; } }
/*cart page styles*/
/*checkout page styles*/
#order_comments {
  min-height: 100px; }

table.shop_table.woocommerce-checkout-review-order-table thead td, table.shop_table.woocommerce-checkout-review-order-table thead th, table.shop_table.woocommerce-checkout-review-order-table tbody td, table.shop_table.woocommerce-checkout-review-order-table tbody th, table.shop_table.woocommerce-checkout-review-order-table tfoot td, table.shop_table.woocommerce-checkout-review-order-table tfoot th {
  text-align: right; }
table.shop_table.woocommerce-checkout-review-order-table thead td:first-child, table.shop_table.woocommerce-checkout-review-order-table thead th:first-child, table.shop_table.woocommerce-checkout-review-order-table tbody td:first-child, table.shop_table.woocommerce-checkout-review-order-table tbody th:first-child, table.shop_table.woocommerce-checkout-review-order-table tfoot td:first-child, table.shop_table.woocommerce-checkout-review-order-table tfoot th:first-child {
  float: left; }

.woocommerce-checkout-payment {
  border: 3px solid #77a464;
  margin: 10px 0;
  padding: 7px 12px; }
  .woocommerce-checkout-payment ul.payment_methods {
    list-style-type: none;
    padding: 0; }
    .woocommerce-checkout-payment ul.payment_methods li {
      margin-bottom: 10px; }
    .woocommerce-checkout-payment ul.payment_methods img {
      display: none; }
    .woocommerce-checkout-payment ul.payment_methods .about_paypal {
      margin-left: 15px; }
  .woocommerce-checkout-payment .payment_box {
    margin-left: 20px; }
  .woocommerce-checkout-payment div.place-order {
    text-align: right;
    padding: 0 1em; }
    .woocommerce-checkout-payment div.place-order .button {
      width: 100%;
      display: block;
      font-size: 2em;
      font-weight: 700; }

@media screen and (min-width: 768px) {
  #order_comments {
    min-height: 500px; }

  .woocommerce-checkout-payment ul.payment_methods img {
    display: inline; } }
/*end checkout page styles*/
/*breadcrumbs*/
.woocommerce-breadcrumb {
  display: none;
  margin: 10px 0;
  padding: 10px 25px;
  background: #efefef;
  border-radius: 5px; }

/*gallery*/
.woocommerce-product-gallery {
  margin-top: 10px; }
  .woocommerce-product-gallery img {
    max-width: 100% !important;
    height: auto !important;
    max-height: 100%; }
  .woocommerce-product-gallery .woocommerce-product-gallery__wrapper {
    width: 100%;
    max-width: 500px;
    margin: auto; }
  .woocommerce-product-gallery .flex-viewport {
    width: 100%;
    margin: auto;
    max-width: 500px; }
    .woocommerce-product-gallery .flex-viewport .woocommerce-product-gallery__wrapper {
      width: initial;
      max-width: initial;
      margin: initial; }
  .woocommerce-product-gallery ol.flex-control-nav {
    width: 100%;
    margin: auto;
    max-width: 500px;
    list-style-type: none;
    padding: 0;
    text-align: center; }
    .woocommerce-product-gallery ol.flex-control-nav li {
      max-width: 100px;
      display: inline-block;
      padding: 10px; }

.entry-summary .price {
  margin: 10px;
  font-weight: bold;
  font-size: 24px;
  color: #00ae00;
  vertical-align: middle; }

/*variations table*/
table.variations {
  margin: 10px auto; }
  table.variations label {
    color: black;
    font-size: 24px;
    margin: 0;
    vertical-align: middle; }
  table.variations .bs-inline-hack {
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
    display: inline-block;
    width: auto; }

.wcsc-cart-add-form .input-text {
  max-width: 75px;
  min-width: 50px; }
.wcsc-cart-add-form table.group_table {
  width: 95%;
  max-width: 400px;
  margin: 20px auto; }
  .wcsc-cart-add-form table.group_table td {
    padding: 5px;
    white-space: normal; }
  .wcsc-cart-add-form table.group_table td.label {
    display: table-cell;
    vertical-align: middle;
    text-align: left; }
    .wcsc-cart-add-form table.group_table td.label label {
      margin-bottom: 0;
      font-size: 20px; }
.wcsc-cart-add-form .quantity-wrapper {
  padding: 10px;
  border: 2px solid #fbdedd;
  border-radius: 5px;
  max-width: 350px;
  margin: auto;
  width: 90%;
  text-align: center; }
  .wcsc-cart-add-form .quantity-wrapper div, .wcsc-cart-add-form .quantity-wrapper button, .wcsc-cart-add-form .quantity-wrapper input {
    display: inline-block; }

.product_meta {
  margin: 15px 0 10px;
  font-size: 14px; }
  .product_meta, .product_meta a {
    color: #aeaeae;
    font-style: italic; }
  .product_meta a {
    text-decoration: underline; }
  .product_meta:after {
    content: '.';
    font-size: 0;
    display: block;
    clear: both;
    line-height: 0;
    visibility: hidden; }

.wc-tabs-wrapper {
  clear: both; }
  .wc-tabs-wrapper ul.tabs {
    list-style-type: none;
    margin: 0;
    padding: 18px 0 0 0; }
    .wc-tabs-wrapper ul.tabs li a {
      text-align: center;
      padding: 10px 0;
      margin: 5px 0;
      display: block;
      background-color: #efefef;
      border: 1px solid #aeaeae;
      color: #222; }
    .wc-tabs-wrapper ul.tabs li.active a, .wc-tabs-wrapper ul.tabs li a:hover {
      background-color: white;
      text-decoration: none; }

.woocommerce-Tabs-panel {
  box-shadow: 0 1px 1px transparent; }

.woocommerce-Reviews .woocommerce-Reviews-title {
  display: none; }
.woocommerce-Reviews ol.commentlist {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .woocommerce-Reviews ol.commentlist li {
    padding: 10px 0;
    border-bottom: 1px solid #efefef; }
    .woocommerce-Reviews ol.commentlist li:last-of-type {
      border: none; }
    .woocommerce-Reviews ol.commentlist li img {
      float: left;
      margin: 0 13px 10px 0; }
    .woocommerce-Reviews ol.commentlist li p {
      margin: 0; }
    .woocommerce-Reviews ol.commentlist li .sewchic-wc-star-rating {
      color: #878ac1; }
.woocommerce-Reviews .comment-reply-title {
  font-weight: bold;
  font-size: 24px; }
.woocommerce-Reviews .comment-form-rating .stars a {
  position: relative;
  font-size: 25px;
  visibility: hidden;
  width: 1em;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block; }
  .woocommerce-Reviews .comment-form-rating .stars a:before {
    position: absolute;
    visibility: visible;
    display: inline-block;
    content: "☆";
    color: #878ac1;
    z-index: 2; }
  .woocommerce-Reviews .comment-form-rating .stars a.clicked:before {
    content: "★"; }
  .woocommerce-Reviews .comment-form-rating .stars a.active.clicked ~ a:before {
    visibility: hidden; }
  .woocommerce-Reviews .comment-form-rating .stars a.active.clicked ~ a:after {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    visibility: visible;
    content: "☆";
    z-index: 5; }
.woocommerce-Reviews .comment-respond label {
  display: block; }
.woocommerce-Reviews .comment-respond input, .woocommerce-Reviews .comment-respond textarea {
  max-width: 400px;
  font-size: 16px; }
.woocommerce-Reviews .comment-respond input {
  height: 36px; }

@media screen and (min-width: 768px) {
  .woocommerce-breadcrumb {
    display: block; }

  table.variations {
    margin: 10px 0 20px; }

  .wcsc-cart-add-form {
    margin: 20px 0; }
    .wcsc-cart-add-form .input-text {
      max-width: 100px; }
    .wcsc-cart-add-form table.group_table {
      max-width: initial;
      margin: 20px 0; }
    .wcsc-cart-add-form .quantity-wrapper {
      max-width: initial;
      margin: initial;
      width: initial;
      text-align: left;
      display: inline;
      padding: 15px 12px 17px; }

  .related.products, .upsells.products {
    width: 100%; }

  .wc-tabs-wrapper {
    padding-top: 35px; }
    .wc-tabs-wrapper ul.tabs {
      padding: 0 0 18px 0;
      border-bottom: 10px #aeaeae solid; }
      .wc-tabs-wrapper ul.tabs li {
        display: inline;
        margin: 0 5px; }
        .wc-tabs-wrapper ul.tabs li a {
          display: initial;
          text-align: initial;
          padding: 20px 15px;
          margin: 0;
          background-color: white;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px; }
        .wc-tabs-wrapper ul.tabs li.active a, .wc-tabs-wrapper ul.tabs li a:hover {
          background-color: #aeaeae;
          color: white; } }
@media screen and (min-width: 992px) {
  .woocommerce-product-gallery {
    float: left;
    margin: 5px 25px 25px 0; }
    .woocommerce-product-gallery .woocommerce-product-gallery__wrapper {
      max-width: 300px; }
    .woocommerce-product-gallery .flex-viewport {
      max-width: 300px; }
    .woocommerce-product-gallery ol.flex-control-nav {
      max-width: 300px; }
      .woocommerce-product-gallery ol.flex-control-nav li {
        max-width: 75px; } }
@media screen and (min-width: 1200px) {
  .wcsc-cart-add-form table.group_table {
    max-width: 570px; }

  .woocommerce-product-gallery .woocommerce-product-gallery__wrapper {
    max-width: 500px; }
  .woocommerce-product-gallery .flex-viewport {
    max-width: 500px; }
  .woocommerce-product-gallery ol.flex-control-nav {
    max-width: 500px; }
    .woocommerce-product-gallery ol.flex-control-nav li {
      max-width: 100px; } }
/*products feeds*/
ul.products {
  list-style-type: none;
  padding: 0;
  margin: 30px 0; }
  ul.products li {
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #efefef; }
    ul.products li h2 {
      margin: 5px 0; }
    ul.products li a {
      display: block;
      margin: 5px 0; }
    ul.products li img {
      width: 100%;
      height: auto;
      max-height: 100%; }
    ul.products li:last-of-type {
      margin-bottom: 0;
      border-bottom: none; }

@media screen and (min-width: 768px) {
  ul.products {
    margin: 10px -10px; }
    ul.products li {
      position: relative;
      display: inline-block;
      width: 45%;
      max-width: 496px;
      margin: 0 2%;
      border: none; }
      ul.products li a {
        position: relative; }
      ul.products li h2 {
        position: absolute;
        bottom: 35px;
        right: 10px;
        padding: 5px;
        background: white;
        opacity: 0.7;
        font-size: 18px;
        margin: 0;
        text-align: right;
        max-width: 200px; }
      ul.products li .added_to_cart {
        position: absolute;
        top: 0;
        z-index: 10;
        width: 100%;
        background: #878ac1;
        color: white;
        padding: 10px; } }
@media screen and (min-width: 992px) {
  ul.products li {
    width: 30%;
    margin: 0 1%;
    max-width: 340px; } }
@media screen and (min-width: 1200px) {
  ul.products li {
    width: 22.5%;
    margin: 0 1%;
    max-width: initial; } }
/*shop page*/
.woocommerce-products-header, .woocommerce-result-count {
  text-align: center; }

.woocommerce-products-header {
  margin: 20px 0 10px; }

.wcsc-shop-container .filter-widgets-toggle {
  margin: 10px auto 0; }
.wcsc-shop-container #filter_widgets_bin {
  text-align: center; }
  .wcsc-shop-container #filter_widgets_bin ul {
    list-style-type: none;
    padding: 0; }
  .wcsc-shop-container #filter_widgets_bin .price_slider_wrapper > div {
    margin: 15px 0; }
    .wcsc-shop-container #filter_widgets_bin .price_slider_wrapper > div .price_label {
      margin: 5px 0; }

@media screen and (min-width: 768px) {
  .woocommerce-products-header, .woocommerce-result-count {
    text-align: initial; }

  .woocommerce-result-count, .woocommerce-ordering {
    display: inline-block;
    margin-right: 5px; }

  .wcsc-shop-container .orderby {
    max-width: 200px; }
  .wcsc-shop-container .wcsc-shop-table {
    display: table; }
  .wcsc-shop-container .wcsc-shop-row {
    display: table-row; }
  .wcsc-shop-container .wcsc-shop-cell {
    display: table-cell; }
  .wcsc-shop-container .filter-widgets {
    width: 17%;
    vertical-align: top;
    padding-right: 10px;
    min-width: 205px; }
  .wcsc-shop-container #filter_widgets_bin {
    display: block !important;
    text-align: left; }
    .wcsc-shop-container #filter_widgets_bin .price_slider_wrapper {
      width: 80%; } }
/*Account page*/
nav.woocommerce-MyAccount-navigation ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: visible; }
  nav.woocommerce-MyAccount-navigation ul li {
    text-align: center; }
    nav.woocommerce-MyAccount-navigation ul li a {
      display: block;
      margin-bottom: 10px;
      padding: 10px;
      border: 1px solid #aeaeae;
      background-color: #efefef;
      color: #222; }
  nav.woocommerce-MyAccount-navigation ul li.is-active a, nav.woocommerce-MyAccount-navigation ul li:hover a {
    background-color: white; }

@media screen and (min-width: 768px) {
  nav.woocommerce-MyAccount-navigation ul {
    margin: 20px 0; }
    nav.woocommerce-MyAccount-navigation ul li {
      display: inline-block;
      margin-right: 7px; }
      nav.woocommerce-MyAccount-navigation ul li:last-of-type {
        margin-right: 0; }
      nav.woocommerce-MyAccount-navigation ul li a {
        display: initial;
        margin: 0; }

  /*login*/
  .woocommerce-form-login {
    max-width: 500px; } }
@media screen and (min-width: 768px) and (max-width: 992px) {
  nav.woocommerce-MyAccount-navigation ul li a {
    padding: 6px;
    font-size: 14px; } }
@media screen and (min-width: 992px) {
  nav.woocommerce-MyAccount-navigation ul li {
    margin-right: 10px; } }
/*Woocommerce widgets*/
.wcsc-sidebar ul {
  list-style-type: none;
  padding: 0; }
  .wcsc-sidebar ul li img {
    display: none; }
  .wcsc-sidebar ul li span.reviewer {
    padding-left: 7px; }
.wcsc-sidebar ul.product-categories ul, .wcsc-sidebar ul.product-categories li {
  display: inline; }
.wcsc-sidebar ul.product-categories a {
  margin-right: 5px; }

.woocommerce-mini-cart__buttons a {
  display: block;
  margin-bottom: 7px; }

.woocommerce-product-search input[type="submit"] {
  display: block;
  margin-top: 5px;
  width: 100%; }

@media screen and (min-width: 768px) {
  .wcsc-shop-footer-widgets .wcsc-shop-footer-widget ul, .wcsc-shop-footer-widgets .wcsc-shop-footer-widget li {
    display: inline; }
  .wcsc-shop-footer-widgets .wcsc-shop-footer-widget a {
    margin-right: 5px; } }
@media screen and (min-width: 768px) and (max-width: 991px) {
  .woocommerce-product-search input {
    max-width: 700px; }
    .woocommerce-product-search input[type="submit"] {
      width: auto; } }
@media screen and (min-width: 1200px) {
  .woocommerce-mini-cart__buttons a {
    display: initial;
    margin-right: 5px; }

  .woocommerce-product-search input[type="submit"] {
    width: auto; } }
.woocommerce-order .woocommerce-notice {
  margin-bottom: 25px; }
.woocommerce-order ul.order_details {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px; }
  .woocommerce-order ul.order_details li {
    float: none;
    margin: 7px 0;
    border-right: 0;
    border-bottom: 1px solid #aeaeae;
    padding: 7px 0; }
    .woocommerce-order ul.order_details li:last-of-type {
      border: none; }

table.shop_table.order_details td, table.shop_table.order_details th {
  text-align: right; }
table.shop_table.order_details td:first-child, table.shop_table.order_details th:first-child {
  text-align: left; }

@media screen and (min-width: 768px) {
  .woocommerce-order ul.order_details li {
    display: inline-block;
    border: none;
    margin: 7px 14px 7px 0;
    padding: 7px 14px 7px 0; }
    .woocommerce-order ul.order_details li:last-of-type {
      margin: 7px 0;
      padding: 7px 0; } }

/*# sourceMappingURL=woocommerce.css.map */
