/* product page styles */
.entry-summary{
    .price{
        margin:10px 0;
        font-weight:bold;
        font-size:24px;
        color:$priceGreen;
        vertical-align:middle;
    }
}

.wcsc-summary-wrap{
    ol, ul, hr{
        width:auto;
        overflow:hidden;
    }
}

/*variations table*/
table.variations{
    margin:10px 0;
    label{
        color:black;
        font-size:24px;
        margin:0;
        vertical-align:middle;
    }
    td{padding-right:10px;}
    
    .bs-inline-hack{
        margin-top:0;
        margin-bottom:0;
        vertical-align:middle;
        display:inline-block;
        width:auto;
    }

}

.wcsc-cart-add-form{

    .input-text{
        max-width:75px;
        min-width:50px;
    }
    table.group_table{
        width:95%;
        max-width:400px;
        margin: 20px auto;
        td{
            padding:5px;
            white-space:normal;
        }
        td.label{
            display:table-cell;
            vertical-align:middle;
            text-align:left;
            label{
                margin-bottom:0;
                font-size:20px;
            }
        }
    }

    .single_variation_wrap > div {
        margin: 15px 0;
    }

    .quantity-wrapper{
        padding:10px;
        border: 2px solid $headerpink;
        border-radius: 5px;
        max-width:350px;
        margin:auto;
        display:inline-block;
        div, button, input{
            display:inline-block;
        }
    }

}

.product_meta{
    margin: 15px 0 10px;
    font-size: 14px;
    &,a{
        color:$light-grey;
        font-style:italic;
    }
    a{
        text-decoration:underline;
    }
    @include clearfix();
}

.wc-tabs-wrapper{
    clear:both;
    ul.tabs{
        list-style-type:none;
        margin:0;
        padding:18px 0 0 0;
        li{
            a{
                text-align:center;
                padding: 10px 0;
                margin: 5px 0;
                display:block;
                background-color:$lighter-grey;
                border:1px solid $light-grey;
                color:$black;
            }
            &.active a, a:hover{
                background-color:white;    
                text-decoration:none;
            
            }
        }
    }
}

.woocommerce-Tabs-panel{
    box-shadow: 0 1px 1px rgba(0,0,0,0);
}

.woocommerce-Reviews{
    .woocommerce-Reviews-title{
        display:none;
    }
    ol.commentlist{
        list-style-type:none;
        margin:0;
        padding:0;
        li{
            padding:10px 0;
            border-bottom: 1px solid $lighter-grey;
            &:last-of-type{
                border:none;
            }
            &:after{
                content:"";
                clear:both;
                display:block;
            }
            img{
                float:left;
                margin: 0 13px 10px 0;
            }
            p{
                margin:0;
            }
            .sewchic-wc-star-rating{
                color:$addToCartBlue2;
            }
        }
    
    }
    .comment-reply-title{
        font-weight:bold;
        font-size:24px;
    }
    .comment-form-rating{
        .stars{
            a{
                position:relative;
                font-size:25px;
                visibility:hidden;
                width:1em;
                white-space: nowrap;
                cursor: pointer;
                display:inline-block;
                &:before{
                    position:absolute;
                    visibility:visible;
                    display: inline-block;
                    content: $empty-star;
                    color: $addToCartBlue2;
                    z-index:2; 
                }
                &.clicked:before{
                    content: $full-star
                }
                &.active.clicked ~ a:before{
                    visibility:hidden;
                }
                &.active.clicked ~ a:after{ 
                    position:absolute;
                    top:0;
                    left:0;
                    display:inline-block;
                    visibility:visible;
                    content:$empty-star;
                    z-index:5;
                }
            }
        }
    }
    .comment-respond{
        label{
            display:block;
        }
        input, textarea{
            max-width:400px;
            font-size:16px;
        }
        input{
            height:36px;
        }
    }


}


@media screen and (min-width: 768px){
    .woocommerce-breadcrumb{
        display:block;
    }
    table.variations{
        margin:10px 0 20px;
    }
    .wcsc-cart-add-form{
        .input-text{
            max-width:100px;
        }
        margin:20px 0;
        table.group_table{
            max-width:initial;
            margin:20px 0;
        }
        .quantity-wrapper{
            max-width:initial;
            margin:initial;
            width:initial;
            text-align:left;
            display:inline;
            padding: 15px 12px 17px;
        }
    }
    .related.products, .upsells.products{
        width:100%;
    }
    .wc-tabs-wrapper{
        padding-top:35px;
        ul.tabs{
        padding:0 0 18px 0;
            border-bottom:10px $light-grey solid;
            li{
                display:inline;
                margin:0 5px;
                a{
                    display:initial;
                    text-align:initial;
                    padding:18px 15px;
                    margin:0;
                    background-color:white;
                    border-top-left-radius:5px;
                    border-top-right-radius:5px;
                }
                &.active a, a:hover{
                    background-color: $light-grey;
                    color:white;
                }
            
            }
        }
        
    }
}

@media screen and (min-width: 992px){
    .woocommerce-product-gallery{
        float:left;
        margin: 5px 25px 25px 0;
        .woocommerce-product-gallery__wrapper{
            max-width:300px;
        }
        .flex-viewport{
            max-width:300px;
        }
        ol.flex-control-nav{
            max-width:300px;
            li{
                max-width: 75px;
            }
        
        }
    }
}

@media screen and (min-width:1200px){
    .wcsc-cart-add-form{
        table.group_table{
            max-width:570px;
        }
    }
    .woocommerce-product-gallery{
        .woocommerce-product-gallery__wrapper{
            max-width:500px;
        }
        .flex-viewport{
            max-width:500px;
        }
        ol.flex-control-nav{
            max-width:500px;
            li{
                max-width: 100px;
            }
        
        }
    }
}
